<!-- Sistema de avaliação -->
<section *ngIf="actualStep <= questionaryData.length" class="w-100">
    <form class="pb-5 w-100">
        <div class="row pb-4">
            <div class="col">
                <h3 class="alpha-800-text f-size-1-5rem fw-700">
                    {{ "QUESTIONARY.ENVIRONMENTAL_TITLE" | translate }}
                </h3>
        
                <div class="d-flex align-items-center justify-content-between gap-2 pb-4">
                    <div class="d-flex align-items-center justify-content-start gap-2 pb-2">
                        <p class="f-size-1rem fw-500 alpha-800-text">
                            {{ "QUESTIONARY.QUESTION" | translate }}
                        </p>
                        <p class="f-size-1rem fw-500 alpha-800-text">
                            <span class="brand-text fw-700">
                                {{ actualStep }}
                            </span> / {{ questionaryData.length }}
                        </p>
                    </div>
                </div>
        
                <div class="glossary-card p-3 p-xl-4">
                    <p class="f-size-1rem alpha-800-text fw-500 l-height-1-25">
                        {{ "QUESTIONARY.30_PERCENT" | translate }}
                    </p>
                </div>
            </div>
        </div>

        <div *ngFor="let control of formArray.controls; let i = index" class="row justify-content-center">
            <div *ngIf="actualStep === (i + 1)" class="fade-in-right col pb-lg-5 pt-lg-4">
                <div class="d-flex flex-column flex-md-row align-items-start justify-content-between gap-4">
                    <div class="flex-grow-1 w-100">
                        <p class="pb-5 fw-600 f-size-1rem l-spacing-1-68 l-height-1-5rem">{{ actualStep }}. {{ "QUESTIONS." + questionaryData[i].id + "_TITLE" | translate }}</p>
        
                        <div class="d-flex align-items-center justify-content-start gap-2 pb-3">
                            <input [formControl]="control" type="radio" style="width: fit-content;" id="Yes" name="answer" value="Yes">
                            <label for="Yes" class="fw-400 f-size-1rem l-spacing-1-68 pt-1">{{ "QUESTIONARY.YES" | translate }}</label>
                        </div>
        
                        <div class="d-flex align-items-center justify-content-start gap-2 pb-3">
                            <input [formControl]="control" type="radio" style="width: fit-content;" id="No" name="answer" value="No">
                            <label for="No" class="fw-400 f-size-1rem l-spacing-1-68 pt-1">{{ "QUESTIONARY.NO" | translate }}</label>
                        </div>
        
                        <div class="d-flex align-items-center justify-content-start gap-2 pb-3">
                            <input [formControl]="control" type="radio" style="width: fit-content;" id="undefined" name="answer" value="Not apply">
                            <label for="undefined" class="fw-400 f-size-1rem l-spacing-1-68 pt-1">{{ "QUESTIONARY.DOESNT_APPLY" | translate }}</label>
                        </div>
        
                        <button *ngIf="actualStep === 1" class="secondary-brand-btn px-lg-5 d-block mt-5" [disabled]="control.invalid" type="button" (click)="onSubmitStep(i)">
                            {{ "QUESTIONARY.NEXT" | translate }}
                        </button>

                        <div *ngIf="actualStep > 1" class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-between mt-5">
                            <button (click)="continueLater()" type="button"class="no-bg-btn bg-transparent brand-text fw-700 pt-5 pt-lg-0">
                                {{ "QUESTIONARY.CONTINUE_LATER" | translate }}
                            </button>
        
                            <div class="d-flex align-items-center justify-content-between gap-3">
                                <button (click)="stepBack()" class="brand-outline-btn bg-transparent x-lg-5 d-block" type="button">
                                    {{ "QUESTIONARY.BACK" | translate }}
                                </button>
                                
                                <button class="secondary-brand-btn px-lg-5 d-block" 
                                        [disabled]="(control.invalid) || (this.undefinedAnswers >= ((questionaryData.length / 100) * 30))"
                                        type="button" (click)=" onSubmitStep(i)">
                                    {{ "QUESTIONARY.NEXT" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
        
                    <div class="flex-grow-1 glossary-card p-4 w-100" style="max-width: 400px;">
                        <h4 class="brand-text fw-700 p-0 pb-4">
                            {{ "QUESTIONARY.GLOSSARY" | translate }}
                        </h4>
        
                        <p class="d-none" #description>{{ "QUESTIONS." + questionaryData[i].id + "_DESCRIPTION" | translate }}</p>

                        <p *ngIf="
                            description.innerText.length > 200
                        " class="f-size-0-85rem l-height-1-25 text-dark pb-4">
                            {{ keepReading 
                                ? 
                                description.innerText
                                :
                                description.innerText.slice(0, 200) + '...'
                            }}
                        </p>
        
                        <p *ngIf="
                            description.innerText.length <= 200
                        " class="f-size-0-85rem l-height-1-25 text-dark pb-4">
                            {{ description.innerText }}
                        </p>
        
                        <div *ngIf="
                            description.innerText.length > 200
                        " class="d-flex align-items-center justify-content-end w-100">
                            <button *ngIf="!keepReading" (click)="keepReading = true" class="f-size-1rem fw-700 brand-text bg-transparent border-0 shadow-none d-flex align-items-center justify-content-end gap-2 p-2">
                                {{ "QUESTIONARY.EXPAND" | translate }}
                                <img src="/assets/icon/share.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>

                <div *ngIf="(this.undefinedAnswers >= ((questionaryData.length / 100) * 30))" class="blue-card p-3 p-lg-4 d-flex align-items-center justify-content-start gap-3 mt-3 mt-lg-4">
                    <img src="/assets/icon/blue-warning.svg" alt="Warning">
                    <p class="f-size-0-85rem l-height-1-25 fw-500 alpha-800-text">{{ "QUESTIONARY.LIMIT_EXCEDED" | translate }}</p>
                </div>

                <div *ngIf="questionaryData[i].documentNeeded" class="blue-card p-3 p-lg-4 d-flex align-items-center justify-content-start gap-3 mt-3 mt-lg-4">
                    <img src="/assets/icon/blue-warning.svg" alt="Warning">
                    <p class="f-size-0-85rem l-height-1-25 fw-500 alpha-800-text">{{ "QUESTIONARY.DOCUMENT_NEEDED" | translate }}</p>
                </div> 
            </div>
        </div>
    </form>
</section>


<!-- Documentos -->
<section *ngIf="actualStep == (questionaryData.length + 1)" class="w-100">
    <form class="fade-in pb-5 w-100">
        <div class="fade-in pb-4 w-100">
            <div class="fade-in row">
                <div class="col">
                    <h3 class="alpha-800-text f-size-1-5rem fw-700">
                        {{ "QUESTIONARY.NEXT" | translate }}
                    </h3>
            
                    <div class="d-flex align-items-center justify-content-between gap-2 pb-4">
                        <div class="d-flex align-items-center justify-content-start gap-2 pb-2">
                            <p class="f-size-1rem fw-500 alpha-800-text">
                                {{ "QUESTIONARY.ANSWER_SUMMARY" | translate }}
                            </p>
                        </div>
                    </div>
            
                    <div class="glossary-card p-3 p-xl-4">
                        <p class="f-size-1rem alpha-800-text fw-500 l-height-1-25">
                            {{ "QUESTIONARY.CANNOT_CHANGE" | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            <li *ngFor="let control of formArrayDocuments.controls; let indexArrayDocuments = index" class="pb-5">
                <p class="d-block w-100 f-size-1rem l-height-1-5rem alpha-700-text fw-700 pb-2">
                    {{ indexArrayDocuments + 1 }}. {{ "QUESTIONS." + questionaryData[indexArrayDocuments].id + "_TITLE" | translate }}
                </p>
                <p class="d-flex w-100 f-size-1rem l-height-1-25rem alpha-700-text fw-400 gap-1">
                    resposta: &shy;
                    <span *ngIf="formArray.controls[indexArrayDocuments].value === 'Yes'" class="fw-700">{{ "QUESTIONARY.YES" | translate }}</span>
                    <span *ngIf="formArray.controls[indexArrayDocuments].value === 'No'" class="fw-700">{{ "QUESTIONARY.NO" | translate }}</span>
                    <span *ngIf="formArray.controls[indexArrayDocuments].value === 'Not apply'" class="fw-700">{{ "QUESTIONARY.DOESNT_APPLY" | translate }}</span>
                </p>

                
                <div *ngIf="(formArray.controls[indexArrayDocuments].value === 'Yes') && (questionaryData[indexArrayDocuments].documentNeeded)"                     
                    >   
                    
                    <div class="d-flex gap-2 mb-3 align-items-center">
                    <button type="button" 
                            class="btn btn-outline-success d-flex align-items-center gap-2"
                            (click)="addFileInput(indexArrayDocuments)" 
                            [disabled]="control.controls.length >= 5">
                            <i class="fa fa-plus-circle"></i>
                           
                            {{ "QUESTIONARY.ADD_FILE" | translate }}
                        </button>

                    <button type="button" 
                            class="btn btn-outline-danger d-flex align-items-center gap-2"
                            (click)="removeFileInput(indexArrayDocuments)" 
                            *ngIf="control.controls.length > 1"
                            >
                            <i class="fa fa-trash-alt"></i>
                            
                            {{ "QUESTIONARY.REMOVE_FILE" | translate }}
                    </button>
                    </div>

                    <div *ngFor="let fileControl of control.controls; let j = index" 
                        class="d-flex align-items-center justify-content-start gap-2 pb-3">   
                        
                                          
                        <input type="file"
                                class="w-100 custom-file-input"
                                title=""
                                [id]="questionaryData[indexArrayDocuments].id + '_' + j" 
                                [name]="questionaryData[indexArrayDocuments].id + '_' + j"         
                                (change)="onFileChange($event, indexArrayDocuments, j)"
                                />
                    </div>

                    
                </div>

                
            </li>
        </ul>
    
        <div class="w-100 d-flex align-items-center justify-content-end gap-3 pt-4">
            <button (click)="continueLater()" type="button"class="brand-outline-btn bg-transparent x-lg-5 d-block" type="button">
                {{ "QUESTIONARY.CONTINUE_LATER" | translate }}
            </button>
             <button (click)="stepBack()" class="brand-outline-btn bg-transparent x-lg-5 d-block" type="button">
                {{ "QUESTIONARY.BACK" | translate }}
            </button>
            
            <button class="secondary-brand-btn px-lg-5 d-block" 
                    [disabled]="(this.formArrayDocuments.invalid)"
                    type="button" 
                    (click)="submitDocuments()">
                {{ "QUESTIONARY.NEXT" | translate }}
            </button>
        </div>
    </form>
</section>