<section class="w-100">
    <div class="row pb-4">
        <div class="col">
            <h3 class="alpha-800-text f-size-1-5rem l-height-1-5rem pb-1 fw-800">
                ODS
            </h3>
        </div>
    </div>

    <div class="row fade-in pb-5">
        <div class="col">
            <div class="darker-card-logged w-100 p-3 p-xl-4 d-flex flex-column flex-xl-row align-items-start align-items-xl-center justify-content-start gap-4">
                <div style="min-width: 271px;">
                    <img src="/assets/img/ods-thumb.png" alt="Objetidos ds" width="271px">
                </div>
    
                <p class="f-size-0-85rem l-height-1-25 fw-500 alpha-800-text" style="max-width: 550px;">
                    {{ "ODS.PAGE_DESCRIPTION_PT_1" | translate }}<br>
                    {{ "ODS.PAGE_DESCRIPTION_PT_2" | translate }}<br>
                    {{ "ODS.PAGE_DESCRIPTION_PT_3" | translate }}
                </p>
            </div>
        </div>
    </div>

    <div class="row fade-in pb-4">
        <div class="col">
            <h3 class="alpha-800-text f-size-1-5rem l-height-1-5rem pb-1 fw-800">
                {{ "ODS.PAGE_TITLE" | translate }}
            </h3>

            <p class="alpha-700-text f-size-0-85rem fw-500">
                {{ "ODS.PAGE_SUBTITLE" | translate }}
            </p>
        </div>
    </div>

    <div class="row fade-in">
        <div *ngFor="let i of first10" class="col col-12 col-lg-6 pb-4">
            <div class="card-logged d-flex align-item-start justify-content-start p-3 gap-2">
                <img src="/assets/icon/selos-ods/{{ i.number }}.svg" alt="1" width="53px" style="min-width: 53px; max-height: 53px;">
                <div>
                    <p class="f-size-12px fw-700 primary-text pb-2">
                        {{ "ODS." + i.number + "_TITLE" | translate }}
                    </p>
                    <p class="f-size-12px l-height-1rem fw-500 secondary-text">
                        {{ "ODS." + i.number + "_DESCRIPTION" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row fade-in pb-4" *ngIf="!seeMore">
        <div class="col d-flex align-item-center justify-content-end">
            <button class="brand-btn" (click)="toggleSeeMore()">Ver todos</button>
        </div>
    </div>

    <div class="row fade-in" *ngIf="seeMore">
        <div *ngFor="let i of last7" class="col col-12 col-lg-6 pb-4">
            <div class="card-logged d-flex align-item-start justify-content-start p-3 gap-2">
                <img src="/assets/icon/selos-ods/{{ i.number }}.svg" alt="1" width="53px" style="min-width: 53px; max-height: 53px;">
                <div>
                    <p class="f-size-12px fw-700 primary-text pb-2">
                        {{ "ODS." + i.number + "_TITLE" | translate }}
                    </p>
                    <p class="f-size-12px l-height-1rem fw-500 secondary-text">
                        {{ "ODS." + i.number + "_DESCRIPTION" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>