<app-header></app-header>

<div *ngIf="!rotasSemHUD.includes(rotaAtual)" class="container pt-2" style="min-height: calc(100vh - 157px);">
  <div class="row" style="min-height: calc(100vh - 157px);">
    <div class="both-container col-12 d-flex align-items-start" style="min-height: calc(100vh - 157px);">

      <div class="h-100 d-block" style="min-height: calc(100vh - 157px);">
          <app-sidebar></app-sidebar>
      </div>

      <div class="router-logged-container">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>

<div *ngIf="rotasSemHUD.includes(rotaAtual)" >
  <router-outlet></router-outlet>
</div>

<app-footer *ngIf="!rotasSemHUD.includes(rotaAtual)"></app-footer>