<footer class="container pt-5">
    <div class="row pt-5">
        <div class="col pb-3">
            <img src="/assets/logo/footer-logo.svg" alt="ThinkSus" class="mb-2 d-block mx-auto mx-md-0" width="316px">
        </div>
    </div>

    <div class="row">
        <div class="col d-flex flex-column flex-md-row align-items-center justify-content-between pb-3">
            <div>
                <p class="f-size-1-3125rem fw-400 brand-text l-spacing-0-75 l-height-2-0625 pb-3 text-center text-md-start">
                    Seja bem-vindo à ThinkSus! O seu parceiro digital ESG <br class="d-none d-md-block">
                    para um mundo mais sustentável.
                </p>
                <a class="f-size-1-rem fw-500 secondary-text l-spacing-1-68 l-height-1-5 text-decoration-underline cursor-pointer d-block text-center text-md-start w-100">Termos de privacidade</a>
            </div>

            <div class="d-flex align-items-center justify-content-end gap-4 pt-5">
                <a href="">
                    <img src="/assets/icon/linkedin.svg" alt="Linkedin">
                </a>
                <a href="">
                    <img src="/assets/icon/instagram.svg" alt="Instagram">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col pb-5 pt-4">
            <p class="f-size-1rem fw-300 gray-4-text l-spacing-1-68 text-center l-height-1-5">Copyright ©2024 Todos os direitos reservados</p>
        </div>
    </div>
</footer>