<!-- Seletor de Idioma -->
<div class="language-container d-flex flex-row-reverse align-items-start justify-content-end m-0 position-fixed" [class.active]="openSelectorLanguage">
  <div>
      <button class="language-btn" (click)="toggleSelector()">
          <img *ngIf="!openSelectorLanguage" src="/assets/icon/language.svg" alt="Linguagens" width="20px">
          <img *ngIf="openSelectorLanguage" src="/assets/icon/chevron-left.svg" alt="Fechar" width="25px">
      </button>
  </div>
  <ul class="m-0 languages-list" (click)="toggleSelector()">
      <li (click)="changeLanguage('en')">
          <button class="no-bg-btn p-0 m-0 d-flex l-height-1rem align-items-center justify-content-start gap-2" title="Change language to English">
                <img src="/assets/icon/usa.png" width="24px" alt="Português do Brasil">
                English
            </button>
        </li>
        <li (click)="changeLanguage('pt')" title="Mudar idioma para Português do Brasil">
            <button class="no-bg-btn p-0 m-0 d-flex l-height-1rem align-items-center justify-content-start gap-2">
              <img src="/assets/icon/brasil.png" width="24px" alt="Português do Brasil">
              Português - BR
          </button>
      </li>
  </ul> 
</div>

<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>