<!-- Main Hero -->
<section class="main-hero d-flex align-items-center justify-content-center h-100-dvh min-h-100-dvh max-h-100-dvh w-100">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="text-white fade-in">{{ "HOME.SUBTITLE" | translate }}</h4>
                <h1 class="text-white fade-in">{{ "HOME.TITLE" | translate }}</h1>
                <h5 class="fw-500 text-white pt-4 pt-md-3 fade-in-left" style="max-width: 660px;">
                    {{ "HOME.RAW" | translate }}
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- Vantagens e Benefícios -->
<section class="left-view-fade container py-5">
    <div class="row py-5">
        <div class="col pb-lg-5 pt-lg-4">
            <h3 class="brand-text l-spacing-minus-1 pb-4">
                {{ "HOME.PLAN_TITLE" | translate }}
            </h3>

            <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between gap-5 pt-5 pb-5">
                <div class="d-flex flex-column gap-2 w-100">
                    <div class="w-100">
                        <img src="/assets/img/avaliation.svg" alt="{{ 'HOME.AVALIATION_TITLE' | translate }}" width="70px" class="d-block mx-auto mx-md-0">
                    </div>

                    <h6 class="primary-text pt-2">
                        {{ "HOME.AVALIATION_TITLE" | translate }}
                    </h6>

                    <p class="body-1 secondary-text">
                        {{ "HOME.AVALIATION_BODY" | translate }}
                    </p>
                </div>
                
                <div class="d-flex flex-column gap-2 w-100 mx-xl-3">
                    <div class="w-100">
                        <img src="/assets/img/aderence.svg" alt="{{ 'HOME.AVALIATION_TITLE' | translate }}" width="70px" class="d-block mx-auto mx-md-0">
                    </div>

                    <h6 class="primary-text pt-2">
                        {{ "HOME.ADERENCE_TITLE" | translate }}
                    </h6>
 
                    <p class="body-1 secondary-text">
                        {{ 'HOME.ADERENCE_BODY' | translate }}
                    </p>
                </div>

                <div class="d-flex flex-column gap-2 w-100">
                    <div class="w-100">
                        <img src="/assets/img/validation.svg" alt="{{ 'HOME.ADERENCE_TITLE' | translate }}" width="70px" class="d-block mx-auto mx-md-0">
                    </div>

                    <h6 class="primary-text pt-2">
                        {{ 'HOME.ADERENCE_TITLE' | translate }}
                    </h6>

                    <p class="body-1 secondary-text">
                        {{ 'HOME.BLOCKCHAIN_BODY' | translate }}
                    </p>
                </div>
            </div>

            <a routerLink="/plans" (click)="scrollToTop()" class="d-block mx-auto mt-5">
                <button class="brand-btn d-block mx-auto">
                    {{ 'HOME.CHOOSE_BTN' | translate }}
                </button>
            </a>
        </div>
    </div>
</section>

<!-- Futuro sustentável -->
<section class="w-100 brand-bg py-5">
    <div class="container pb-5">
        <div class="row py-5">
            <div class="col d-flex flex-column flex-lg-row align-items-center justify-content-between gap-5">
                <img src="/assets/img/world.svg" alt="Futuro sustentável">
    
                <div>
                    <h3 class="white-text l-spacing-minus-1 pb-3">
                        {{ 'HOME.BEST_CHOOSE' | translate }}
                        
                    </h3>

                    <p class="body-2 white-text" style="max-width: 650px;">
                        {{ 'HOME.INOVATION' | translate }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row pt-4 pt-lg-0">
            <div class="col d-flex flex-column flex-lg-row align-items-start justify-content-between gap-5 pt-3 pb-5">
                <div class="d-flex flex-column gap-2 w-100 me-xxl-2">
                    <div class="w-100">
                        <img src="/assets/img/balance.svg" alt="{{ 'HOME.BALANCE' | translate }}" width="80px" class="d-block mx-auto">
                    </div>

                    <h6 class="text-white pt-2 text-center">
                        {{ 'HOME.BALANCE' | translate }}
                    </h6>

                    <p class="body-1 text-white text-center fw-400">
                        {{ 'HOME.KNOW_WHAT' | translate }}
                    </p>
                </div>
                
                <div class="d-flex flex-column gap-2 w-100 mx-xl-4 mx-xxl-5">
                    <div class="w-100">
                        <img src="/assets/img/positioning.svg" alt="{{ 'HOME.POSITIONING' | translate }}" width="80px" class="d-block mx-auto">
                    </div>

                    <h6 class="text-white pt-2 text-center">
                        {{ 'HOME.POSITIONING' | translate }}
                    </h6>

                    <p class="body-1 text-white text-center fw-400">
                        {{ 'HOME.HAVE_A' | translate }}
                    </p>
                </div>

                <div class="d-flex flex-column gap-2 w-100 ms-xxl-2">
                    <div class="w-100">
                        <img src="/assets/img/evolution.svg" alt="{{ 'HOME.EVOLUTION' | translate }}" width="80px" class="d-block mx-auto">
                    </div>

                    <h6 class="text-white pt-2 text-center">
                        {{ 'HOME.EVOLUTION' | translate }}
                    </h6>

                    <p class="body-1 text-white text-center fw-400">
                        {{ 'HOME.BUILD' | translate }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col">
                <!-- <button class="secondary-brand-btn d-block mx-auto p-0">
                    
                </button> -->
            </div>
        </div>
    </div>
</section>


<!-- Vantagens e Benefícios -->
<section class="carousel-section-bg py-5">
    <div class="container">
        <div class="row py-3">
            <div class="col pb-lg-5 pt-lg-4">
                <div id="carouselExampleIndicators" data-bs-touch="true" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <!-- Carousel 1 -->
                        <div class="carousel-item active py-5">
                            <div class="container-card-carousel py-3 d-block mx-auto px-4 px-xl-5 py-5">
                                <h5 class="fw-500 secondary-text pb-2">{{ 'HOME.EXAMPLE_1' | translate }}</h5>
                                <h3 class="primary-text l-spacing-minus-1 pb-3">
                                    {{ 'HOME.EXAMPLE_4' | translate }}
                                </h3>

                                <h5 class="fw-500 primary-text">
                                    {{ 'HOME.EXAMPLE_2' | translate }}
                                </h5>

                                <div class="w-100 d-flex align-items-center justify-content-end pt-4">
                                    <button
                                        class="brand-text f-size-1rem fw-800 l-spacing-1-68 border-0 bg-transparent shadow-none p-4" (click)="findOutMore()">
                                        {{ 'HOME.EXAMPLE_3' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel 2 -->
                        <div class="carousel-item py-5">
                            <div class="container-card-carousel py-3 d-block mx-auto px-4 px-xl-5 py-5">
                                <h5 class="fw-500 secondary-text pb-2">{{ 'HOME.EXAMPLE_1_2' | translate }}</h5>
                                <h3 class="primary-text l-spacing-minus-1 pb-3">
                                    {{ 'HOME.EXAMPLE_4_2' | translate }}
                                </h3>

                                <h5 class="fw-500 primary-text">
                                    {{ 'HOME.EXAMPLE_2_2' | translate }}
                                </h5>

                                <div class="w-100 d-flex align-items-center justify-content-end pt-4">
                                    <button
                                        class="brand-text f-size-1rem fw-800 l-spacing-1-68 border-0 bg-transparent shadow-none p-4" (click)="findOutMore()">
                                        {{ 'HOME.EXAMPLE_3_2' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel 3 -->
                        <div class="carousel-item py-5">
                            <div class="container-card-carousel py-3 d-block mx-auto px-4 px-xl-5 py-5">
                                <h5 class="fw-500 secondary-text pb-2">{{ 'HOME.EXAMPLE_1_3' | translate }}</h5>
                                <h3 class="primary-text l-spacing-minus-1 pb-3">
                                    {{ 'HOME.EXAMPLE_4_3' | translate }}
                                </h3>

                                <h5 class="fw-500 primary-text">
                                    {{ 'HOME.EXAMPLE_2_3' | translate }}
                                </h5>

                                <div class="w-100 d-flex align-items-center justify-content-end pt-4">
                                    <button
                                        class="brand-text f-size-1rem fw-800 l-spacing-1-68 border-0 bg-transparent shadow-none p-4" (click)="findOutMore()">
                                        {{ 'HOME.EXAMPLE_3_3' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev justify-content-start" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next justify-content-end" type="button"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>