<!-- Sub Hero -->
<section class="sub-hero-2 d-flex align-items-center justify-content-center py-5 w-100">
    <div class="container pb-5 pt-3 pt-md-5">
        <div class="row pt-5">
            <div class="col content pt-5">
                <div class="py-0 py-lg-5"></div>
                <h1 class="text-white fade-in pt-5">Sobre a ThinkSus</h1>
            </div>
        </div>
    </div>
</section>


<section class="w-100 py-5">
    <div class="container pb-5">
        <div class="row py-5">
            <div class="col d-flex flex-column flex-xxl-row align-items-center align-items-xxl-start justify-content-between gap-5">
                <iframe width="100%" src="https://www.youtube.com/embed/QsQPvHlddZY?si=rM1ruw0-hkYluqg1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width: 622px; min-height: 300px;"></iframe>
    
                <div style="max-width: 622px;">
                    <h5 class="fw-500 primary-text pb-3">
                        Sustentabilidade vai muito além de métricas ESG, 
                        relatórios, controle de cadeia de fornecedores 
                        ou reportar riscos corporativos.
                    </h5>
                    <h5 class="fw-500 primary-text pb-3">
                        É se importar com o mundo em que vivemos, a 
                        comunidade que estamos inseridos, e nossas 
                        práticas diárias. Foi a partir disso que a 
                        ThinkSus surgiu - pois acreditamos que 
                        sustentabilidade tem que ser acessível, 
                        efetiva, disponível para todos, inclusive 
                        para os pequenos e médios negócios.
                    </h5>
                    <h5 class="fw-500 primary-text pb-3">
                        São diferentes histórias de fundo corporativo 
                        que fazem parte da construção dessa e-ESG; 
                        uma consultoria que alinha metodologia 
                        inovadora, design intuitivo, tecnologia de 
                        ponta, simplicidade metodológica, e que 
                        resulta também em acessibilidade para o 
                        cliente fnal
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="w-100 brand-bg">
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-12 d-flex flex-column flex-xxl-row align-items-center align-items-xxl-start justify-content-between gap-5">
                <div class="d-flex flex-column align-items-center w-100">
                    <h3 class="text-white fade-in pt-5">Quem somos</h3>
    
                    <h5 class="body-3 text-center text-white pt-4 pt-md-3 fade-in-left" style="max-width: 855px;">
                        ThinkSus foi idealizada a partir do desejo de contribuição para um legado positivo na sociedade de seus três sócios fundadores, que somados, têm mais de 10 anos de experiência em ciência do desenvolvimento sustentável, finanças empresarial e governança corporativa.
                    </h5>
                </div>
            </div>

            <div class="we-are-container flex-column flex-lg-row py-5">
                <a href="https://www.linkedin.com/in/acalixter/" target="_blank">
                    <img src="/assets/img/abner.png" alt="Linkedin do Abner">
                </a>
                
                <a href="https://www.linkedin.com/in/gustavohprestes/" target="_blank" class="second">
                    <img src="/assets/img/carrijo.png" alt="Linkedin do Carrijo">
                </a>

                <a href="https://www.linkedin.com/in/gustavocarrijoduarte/" target="_blank">
                    <img src="/assets/img/prestes.png" alt="Linkedin do Prestes">
                </a>
            </div>
        </div>
    </div>
</section>
