<!-- Sub Hero -->
<section class="sub-hero-1 d-flex align-items-center justify-content-center py-5 w-100">
    <div class="container pb-5 pt-3 pt-md-5">
        <div class="row py-5">
            <div class="col content">
                <h4 class="text-white fade-in">Um compromisso de práticas sustentáveis:</h4>
                <h1 class="text-white fade-in">ESG e os ODS</h1>
                <h5 class="fw-500 text-white pt-4 pt-md-3 fade-in-left" style="max-width: 860px;">
                    A prática ESG está relacionada à governança ambiental, social e 
                    corporativa e são pilares para uma avaliação de consciência coletiva 
                    de uma empresa para trazer sustentabilidade aos seus negócios
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- Vantagens e Benefícios -->
<section class="container py-5">
    <div class="row py-5">
        <div class="col pb-lg-5 pt-lg-4">
            <div class="d-flex flex-column flex-xl-row align-items-start justify-content-between gap-5 pt-3 pb-5">
                <div class="d-flex flex-column gap-2 w-100">
                    <div class="w-100">
                        <img src="/assets/img/ambiental.svg" alt="Ambiental" width="70px" class="d-block mx-auto mx-md-0">
                    </div>

                    <h6 class="primary-text pt-2">
                        Ambiental
                    </h6>

                    <p class="body-1 secondary-text">
                        Quando as empresas se preocupam em preservar o meio ambiente, estão atentas à gestão responsável de resíduos e
                        efluentes, adotam práticas adequadas para o descarte de lixo, têm políticas que abordam o desmatamento e respondem
                        de maneira adequada às mudanças climáticas, demonstrando se são resilientes ou vulneráveis. Elas também se empenham
                        em melhorar e proteger a biodiversidade, controlar as emissões de carbono e limitar a extração de recursos naturais,
                        entre outras medidas ambientalmente conscientes.
                    </p>
                </div>
                
                <div class="d-flex flex-column gap-2 w-100 mx-xl-3">
                    <div class="w-100">
                        <img src="/assets/img/social.svg" alt="Social" width="64px" class="d-block mx-auto mx-md-0">
                    </div>

                    <h6 class="primary-text pt-2">
                        Social
                    </h6>
 
                    <p class="body-1 secondary-text">
                        É crucial que as empresas compreendam o seu papel no cuidado com o bem-estar de seus funcionários, assim como no
                        relacionamento com fornecedores e comunidades onde atuam. Isso envolve garantir direitos humanos, oferecer salários
                        justos, combater o trabalho infantil e escravo, promover segurança e saúde, apoiar a diversidade e inclusão, além de
                        investir no desenvolvimento da comunidade. Esses são alguns dos elementos que contribuem para a sustentabilidade
                        social de uma empresa.
                    </p>
                </div>

                <div class="d-flex flex-column gap-2 w-100">
                    <div class="w-100">
                        <img src="/assets/img/governance.svg" alt="Governança" width="70px" class="d-block mx-auto mx-md-0">
                    </div>

                    <h6 class="primary-text pt-2">
                        Governança
                    </h6>

                    <p class="body-1 secondary-text">
                        Este aspecto se concentra na gestão executiva e visa aprimorar o desempenho da empresa. A governança corporativa é
                        capaz de atender aos interesses dos funcionários, acionistas e clientes? Além disso, é fundamental que sua
                        administração seja transparente, especialmente nas áreas fnanceira e contábil, fornecendo relatórios precisos e
                        abrangentes. A empresa deve respeitar seus valores éticos e combater a corrupção, seguindo as regras de
                        conformidade.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sistema de avaliação -->
<section class="avaliation-system-container py-5">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-xl-7 col-xxl-7 pb-lg-5 pt-lg-4">
                <!-- <h6 class="text-white fw-400">Avalie a maturidade do ESG de sua empresa de forma rápida e fácil!</h6> -->
                <h3 class="text-white fw-400 l-spacing-minus-1" style="max-width: 731px; line-height: 61px;">Sistema de avaliação empresarial <span class="fw-600">ThinkSus</span></h3>

                <h6 class="text-white fw-400 py-3 l-height-31" style="max-width: 694px;">
                    Desenvolvemos um método de avaliação próprio que reflete as 
                    demandas e complexidades de dois dos principais rankings globais:
                </h6>
                
                <ul>
                    <li class="d-flex align-items-center justify-content-start gap-2 text-white mb-1">
                        <img src="/assets/icon/check.svg" alt="Check">
                        <h6 class="fw-600 l-height-31">ENVISION <span class="fw-400">(Harvard/EUA)</span></h6>
                    </li>

                    <li class="d-flex align-items-center justify-content-start gap-2 text-white">
                        <img src="/assets/icon/check.svg" alt="Check">
                        <h6 class="fw-600 l-height-31">ISE <span class="fw-400">(Bolsa de Valores/Brasil)</span></h6>
                    </li>
                    
                    <li class="d-flex align-items-center justify-content-start gap-2 text-white">
                        <img src="/assets/icon/check.svg" alt="Check">
                        <h6 class="fw-600 l-height-31">GRI <span class="fw-400">(Global Reporting Initiative)</span></h6>
                    </li>

                    <li class="d-flex align-items-center justify-content-start gap-2 text-white">
                        <img src="/assets/icon/check.svg" alt="Check">
                        <h6 class="fw-600 l-height-31">SASB <span class="fw-400">(Sustainability Accounting Standard Board)</span></h6>
                    </li>

                    <li class="d-flex align-items-center justify-content-start gap-2 text-white">
                        <img src="/assets/icon/check.svg" alt="Check">
                        <h6 class="fw-600 l-height-31">ODS <span class="fw-400">(Desenvolvimento Sustentável/BR)</span></h6>
                    </li>

                    <li class="d-flex align-items-center justify-content-start gap-2 text-white">
                        <img src="/assets/icon/check.svg" alt="Check">
                        <h6 class="fw-400 l-height-31">E outros standards aderentes</h6>
                    </li>
                </ul>

                <h6 class="text-white fw-400 py-3 l-height-31" style="max-width:  694px;">
                    Essa avaliação utiliza notas e pesos mais realistas para empresas de
                     pequeno e médio porte, em linguagem simples. Ela permite avaliar as 
                     práticas ESG (Ambientais, Sociais e de Governança) da sua empresa, 
                     alinhando-se também com a Matriz de Aderência aos Objetivos de 
                     Desenvolvimento Sustentável da ONU.
                </h6>

                <div class="w-100 pt-3">
                    <button class="secondary-brand-btn px-lg-5 d-block mx-auto">
                        Faça uma avaliação gratuita agora mesmo!
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Futuro sustentável -->
<section class="w-100 py-5 pb-lg-0">
    <div class="container pb-5">
        <div class="row py-5 pb-lg-0">
            <div class="col d-flex flex-column flex-lg-row align-items-center justify-content-between gap-5">
                <div>
                    <h3 class="brand-text l-spacing-minus-1 pb-4">
                        Selo ThinkSus ESG
                    </h3>

                    <p class="body-2 secondary-text pb-4" style="max-width: 731px;">
                        A <span class="body-2 secondary-text fw-700">ThinkSus</span> oferece 
                        várias opções para tornar sua operação mais sustentável. 
                        Além de simulação e certificação, você pode se qualificar 
                        para obter o Selo ThinkSus ESG com o plano ESG Solution 
                        (indisponível no plano ESG Simulation), alcançando um 
                        score de 60% de aderência e fornecendo documentação 
                        comprobatória de suas práticas.
                    </p>

                    <p class="body-2 secondary-text" style="max-width: 731px;">
                        Esse selo confirma seu compromisso e responsabilidade em buscar 
                        um impacto positivo nas relações com os stakeholders e a 
                        comunidade durante sua jornada ESG.
                    </p>
                </div>

                <img src="/assets/img/selos.svg" alt="Selo ThinkSus ESG">
            </div>
        </div>
    </div>
</section>

<!-- Tecnologia Blockchain -->
<section class="w-100 pb-5">
    <div class="container pb-5">
        <div class="blockchain-technology-bg row py-0 py-xl-5">
            <div class="col py-0 py-xl-5 d-flex align-items-center justify-content-xl-end justify-content-xxl-end">
                <div class="pt-5 first-part-text px-3">
                    <h3 class="brand-text l-spacing-minus-1 pb-4">
                        Tecnologia Blockchain
                    </h3>
    
                    <p class="body-2 secondary-text pb-4" style="max-width: 705px;">
                        A transparência é elemento chave em qualquer processo 
                        de certificação, que tenha como princípios a validação, 
                        a veracidade e a confiabilidade. Dessa forma, atendemos 
                        a esses requisitos importantes ao considerar a 
                        tokenização dos blocos de informação.
                    </p>
    
                    <p class="body-2 secondary-text" style="max-width: 705px;">
                        Com a tecnologia blockchain, os tokens de informações 
                        são disponibilizados através de integradores, validados 
                        com dados públicos e privados, em bases de alta 
                        confiabilidade, visando a garantia de consistência 
                        e veracidade das informações indicadas pelas empresas 
                        avaliadas dentro do ecossistema da solução, a plataforma 
                        Enterprise Rating System ®.
                    </p>
                </div>
            </div>
        </div>

        <div class="row pt-4 pt-xl-0 bg-white" style="border-radius: 0 0 20px 20px;">
            <div class="col">
                <div class="px-3 pb-5">
                    <p class="body-2 secondary-text pb-4" style="max-width: 1136px;">
                        Podemos contribuir para o controle da cadeia de fornecedores como um todo. 
                        Empresas que buscam fornecedores com maturidade em sustentabilidade se 
                        conectam à blockchain da <span class="fw-600 brand-text">ThinkSus</span>, validam as informações e passam a 
                        estabelecer sobre estes critérios as suas opções de fornecimento. 
                        Esta rede, por sua vez, auto alimentada, gera os coefcientes de 
                        confabilidade, exaltando de forma construtiva os resultados e o 
                        destaque necessário para fornecedores com maior grau de 
                        responsabilidade no que tange aos princípios de ESG.
                    </p>
    
                    <p class="body-2 secondary-text" style="max-width: 1136px;">
                        Além disso, utilizando dados públicos e informações privadas 
                        validadas pela rede <span class="fw-600 brand-text">ThinkSus</span>, também incorporamos dados 
                        governamentais provenientes das leis de cada país que promovem 
                        a sustentabilidade. Essas informações adicionais complementam 
                        e validam os dados fornecidos pelas empresas no ecossistema, 
                        garantindo uma melhoria gradual na precisão dos indicadores.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
