<div class="w-100 py-5 brand-bg"></div>

<section class="container-fluid">
    <div class="row justify-content-center justify-content-lg-between">
        <div class="d-none d-lg-block col-0 col-lg-6 ps-0">
            <img src="/assets/img/auth-img.jpg" alt="Imagem de indústria" class="auth-img">
        </div>

        <div class="col-12 col-lg-6 pb-lg-5 pt-lg-4 d-flex flex-column align-items-center justify-content-center pb-5 pb-lg-0">
            <!-- Steps Metric  -->
            <div class="d-flex align-items-center justify-content-start gap-4 max-width-360 w-100 pt-5 mt-5 mt-lg-0">
                <p class="secondary-text fw-600 m-0 p-0">
                    {{ "REGISTER.PART" | translate }} {{ actualStep }} {{ "REGISTER.OF" | translate }} 4
                </p>

                <div class="d-flex align-items-center justify-content-start gap-2">
                    <div class="metric-step" [class.active]="actualStep === 1"></div>
                    <div class="metric-step" [class.active]="actualStep === 2"></div>
                    <div class="metric-step" [class.active]="actualStep === 3"></div>
                    <div class="metric-step" [class.active]="actualStep === 4"></div>
                    <div class="metric-step" [class.active]="actualStep === 5"></div>
                </div>
            </div>

            <form *ngIf="actualStep === 1" [formGroup]="form1" (submit)="onSubmitStep1()" autocomplete="off" class="fade-in-right py-5 pb-lg-5 pt-lg-4 max-width-360">
                <h4 class="brand-text fw-700 pb-2">
                    {{ "REGISTER.REGISTER" | translate }}
                </h4>

                <p class="secondary-text fw-600 pb-4">
                    {{ "REGISTER.TITLE_1" | translate }}
                </p>

                <label for="name" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.NAME" | translate }}</label>
                <input type="text" class="w-100 mb-4" formControlName="name" placeholder="{{ 'REGISTER.NAME_PLACEHOLDER' | translate }}" autocomplete="off" id="name" name="name">

                <label for="email" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.EMAIL" | translate }}</label>
                <input type="email" class="w-100 mb-4" formControlName="email" placeholder="email@email.com" autocomplete="off" id="email" name="email">

                <label for="phone" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.PHONE" | translate }}</label>
                <input type="tel" class="w-100 mb-4" [validation]="currentLang === 'pt'" formControlName="phone" mask="(00) 00000-0000" placeholder="(00) 00000-0000" autocomplete="off" id="phone" name="phone">

                <label for="role" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.ROLE" | translate }}</label>
                <input type="text" class="w-100 mb-4" formControlName="role" placeholder="{{ 'REGISTER.ROLE_PLACEHOLDER' | translate }}" autocomplete="off" id="role" name="role">

                <label for="password" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.PASSWORD" | translate }}</label>
                <div class="input-container mb-4">
                    <input [type]="showPassword ? 'text' : 'password'" class="w-100" formControlName="password" placeholder="{{ 'REGISTER.PASSWORD_PLACEHOLDER' | translate }}" autocomplete="off" id="password" name="password">
                    <img *ngIf="showPassword" (click)="showPassword = false" src="/assets/icon/eye.svg" alt="Esconder senha" class="input-icon cursor-pointer">
                    <img *ngIf="!showPassword" (click)="showPassword = true" src="/assets/icon/eye-slash.svg" alt="Mostrar senha" class="input-icon cursor-pointer">
                </div>
                
                <div class="mb-5 d-flex align-items-start gap-2">
                    <input type="checkbox" style="width: fit-content;" class="d-inline" formControlName="acceptTerms" placeholder="aceito os termos" id="acceptTerms" name="acceptTerms">
                    <div>
                        <label for="acceptTerms" class="fw-500 secondary-text f-size-1rem l-spacing-0-75 d-inline gap-1">
                            {{ "REGISTER.AGREE" | translate }} <a (click)="openPdf()" class="brand-text d-inline text-decoration-underline cursor-pointer">{{ "REGISTER.TERMS" | translate }}</a>
                        </label>
                    </div>
                </div>

                <button class="secondary-brand-btn px-lg-5 d-block mx-auto w-100" [disabled]="form1.invalid" type="submit">
                    {{ "REGISTER.NEXT" | translate }}
                </button>
                <a routerLink="/login">
                    <button class="brand-outline-btn px-lg-5 d-block mx-auto w-100 mt-3 opacity-08">
                        {{ "REGISTER.I_HAVE" | translate }}
                    </button>
                </a>
            </form>

            <form *ngIf="actualStep === 2" [formGroup]="form2" (submit)="onSubmitStep2()" class="fade-in-right py-5 pb-lg-5 pt-lg-4 max-width-360">
                <h4 class="brand-text fw-700 pb-2">
                    {{ "REGISTER.REGISTER" | translate }}
                </h4>

                <p class="secondary-text fw-600 pb-4">
                    {{ "REGISTER.SUBTITLE_2" | translate }}
                </p>

                <label for="enterpriseName" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.ENTERPRISE_NAME" | translate }}</label>
                <input type="text" class="w-100 mb-4" formControlName="enterpriseName" placeholder="{{ 'REGISTER.ENTERPRISE_NAME_PLACEHOLDER' | translate }}" autocomplete="off" id="enterpriseName" name="enterpriseName">
                
                <label for="country" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.COUNTRY" | translate }}</label>
                <select name="country" id="country" formControlName="country" class="d-block mb-4">
                    <option *ngFor="let country of countryList" [value]="country.value">{{ country.name }}</option>
                </select>

                <label *ngIf="country.value === 'United States'" for="zipCode" class="fade-in pb-2 fw-600 f-size-1rem l-spacing-1-68">Zip Code</label>
                <input *ngIf="country.value === 'United States'" type="text" pattern='^[0-9]{5}(?:[0-9]{4})?$' mask="00000-0000" [validation]="false" [showMaskTyped]="true" class="fade-in w-100 mb-4" formControlName="zipCode" placeholder="00000-000" autocomplete="off" id="zipCode" name="zipCode">

                <label *ngIf="country.value === 'Brazil'" for="zipCode" class="fade-in pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.ZIPCODE" | translate }}</label>
                <input *ngIf="country.value === 'Brazil'" type="text" mask="00000-000" class="fade-in w-100 mb-4" formControlName="zipCode" placeholder="00000-000" autocomplete="off" id="zipCode" name="zipCode">
                
                <div class="d-flex align-items-start justify-content-between gap-3">
                    <div>
                        <label for="state" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ ((country.value !== 'Brazil' && country.value !== 'United States') ? "REGISTER.STATE_OPTIONAL" : "REGISTER.STATE") | translate }}</label>
                        <input type="text" class="w-100 mb-4" formControlName="state" placeholder="{{ 'REGISTER.STATE_PLACEHOLDER' | translate }}" autocomplete="off" id="state" name="state">
                    </div>

                    <div>
                        <label for="city" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ ((country.value !== 'Brazil' && country.value !== 'United States') ? "REGISTER.CITY_OPTIONAL" : "REGISTER.CITY") | translate }}</label>
                        <input type="text" class="w-100 mb-4" formControlName="city" placeholder="{{ 'REGISTER.CITY_PLACEHOLDER' | translate }}" autocomplete="off" id="city" name="city">
                    </div>
                </div>

                <label *ngIf="country.value === 'Brazil'" for="document" class="fade-in pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.DOCUMENT" | translate }}</label>
                <input *ngIf="country.value === 'Brazil'" type="text" mask="00.000.000/0000-00" class="fade-in w-100 mb-4" formControlName="document" placeholder="00.000.000/0000-00" autocomplete="off" id="document" name="document">

                <div class="d-flex align-items-start justify-content-between gap-3 mb-4">
                    <div class="flex-grow-1 w-100">
                        <label for="sector" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.FIELD" | translate }}</label>
                        <select name="sector" id="sector" formControlName="sector" class="d-block mb-4 w-100">
                            <option value="" disabled>{{ 'REGISTER.FIELD_PLACEHOLDER' | translate }}</option>
                            <option *ngFor="let sector of sectorList" [value]="sector.value">{{ sector.label }}</option>
                        </select>
                        <!-- <input type="text" class="w-100 mb-4" formControlName="sector" placeholder="{{ 'REGISTER.FIELD_PLACEHOLDER' | translate }}" autocomplete="off" id="sector" name="sector"> -->
                    </div>

                    <div class="flex-grow-1 w-100">
                        <label for="segment" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.SEGMENT" | translate }}</label>
                        <select name="segment" id="segment" formControlName="segment" class="d-block mb-4 w-100" [class.opacity-05]="!segmentList.length">
                            <option value="" disabled>{{ 'REGISTER.SEGMENT_PLACEHOLDER' | translate }}</option>
                            <option *ngFor="let segment of segmentList" [value]="segment.value">{{ segment.label }}</option>
                        </select>
                        <!-- <input type="text" class="w-100 mb-4" formControlName="segment" placeholder="{{ 'REGISTER.SEGMENT_PLACEHOLDER' | translate }}" autocomplete="off" id="segment" name="segment"> -->
                    </div>
                </div>

                <button class="secondary-brand-btn px-lg-5 d-block mx-auto w-100" [disabled]="(form2.invalid) || (country.value === 'Brazil' && !document.value) || ((country.value === 'Brazil' || country.value === 'United States') && (!state.value || !city.value))" type="submit">
                    {{ "REGISTER.NEXT" | translate }}
                </button>
                <button class="brand-outline-btn px-lg-5 d-block mx-auto w-100 mt-3 opacity-08" (click)="stepBack()">
                    {{ "REGISTER.BACK" | translate }}
                </button>
            </form>

            <form *ngIf="actualStep === 3" [formGroup]="form3" (submit)="onSubmitStep3()" class="fade-in-right py-5 pb-lg-5 pt-lg-4 max-width-360 w-100">
                <h4 class="brand-text fw-700 pb-2">
                    {{ "REGISTER.REGISTER" | translate }}
                </h4>

                <p class="secondary-text fw-600 pb-4">
                    {{ "REGISTER.SUBTITLE_2" | translate }}
                </p>
                
                <label for="collaboratorsAmmount" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.COLLABORATORS_AMMOUNT" | translate }}</label>
                <select name="collaboratorsAmmount" id="collaboratorsAmmount" formControlName="collaboratorsAmmount" class="d-block mb-4">
                    <option value="" disabled>{{ "REGISTER.SELECT" | translate }}</option>
                    <option [value]="companyEmployeesEnum.EMPLOYEES_1_20">{{ "REGISTER.AMMOUNT_1" | translate }}</option>
                    <option [value]="companyEmployeesEnum.EMPLOYEES_21_50">{{ "REGISTER.AMMOUNT_2" | translate }}</option>
                    <option [value]="companyEmployeesEnum.EMPLOYEES_51_200">{{ "REGISTER.AMMOUNT_3" | translate }}</option>
                    <option [value]="companyEmployeesEnum.EMPLOYEES_201_500">{{ "REGISTER.AMMOUNT_4" | translate }}</option>
                    <option [value]="companyEmployeesEnum.EMPLOYEES_501_2000">{{ "REGISTER.AMMOUNT_5" | translate }}</option>
                    <option [value]="companyEmployeesEnum.EMPLOYEES_2001_OR_MORE">{{ "REGISTER.AMMOUNT_6" | translate }}</option>
                </select>
                
                <label for="invoicing" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.INVOICING" | translate }}</label>
                <select *ngIf="country.value === 'Brazil'" name="invoicing" id="invoicing" formControlName="invoicing" class="d-block mb-4">
                    <option value="" disabled>{{ "REGISTER.SELECT" | translate }}</option>
                    <option [value]="CompanyRevenueEnum.under_360k">{{ "REGISTER.BRL_INVOICING_1" | translate }}</option>
                    <option [value]="CompanyRevenueEnum.between_360k_4_8M">{{ "REGISTER.BRL_INVOICING_2" | translate }}</option>
                    <option [value]="CompanyRevenueEnum.between_4_8M_20M">{{ "REGISTER.BRL_INVOICING_3" | translate }}</option>
                    <option [value]="CompanyRevenueEnum.above_20M">{{ "REGISTER.BRL_INVOICING_4" | translate }}</option>
                </select>

                <select *ngIf="country.value !== 'Brazil'" name="invoicing" id="invoicing" formControlName="invoicing" class="d-block mb-4">
                    <option value="" disabled>{{ "REGISTER.SELECT" | translate }}</option>
                    <option [value]="CompanyRevenueEnum.under_360k">{{ "REGISTER.USD_INVOICING_1" | translate }}</option>
                    <option [value]="CompanyRevenueEnum.between_360k_4_8M">{{ "REGISTER.USD_INVOICING_2" | translate }}</option>
                    <option [value]="CompanyRevenueEnum.between_4_8M_20M">{{ "REGISTER.USD_INVOICING_3" | translate }}</option>
                    <option [value]="CompanyRevenueEnum.above_20M">{{ "REGISTER.USD_INVOICING_4" | translate }}</option>
                </select>

                <button class="secondary-brand-btn px-lg-5 d-block mx-auto w-100" [disabled]="form3.invalid" type="submit">
                    {{ "REGISTER.NEXT" | translate }}
                </button>
                <button class="brand-outline-btn px-lg-5 d-block mx-auto w-100 mt-3 opacity-08" (click)="stepBack()">
                    {{ "REGISTER.BACK" | translate }}
                </button>
            </form>

            <div *ngIf="actualStep === 4" class="fade-in-right py-5 pb-lg-5 pt-lg-4 max-width-360">
                <h4 class="brand-text fw-700 pb-2">
                    {{ "REGISTER.TITLE_2" | translate }}
                </h4>

                <p class="secondary-text fw-600 pb-4">
                    {{ "REGISTER.SUBTITLE_3" | translate }}
                </p>

                <p class="secondary-text fw-600 pb-4">
                    {{ "REGISTER.CLICK_LINK" | translate }}
                </p>

                <p class="brand-text fw-800 pb-4">
                    {{ email.value }}
                </p>
                
                <p class="secondary-text fw-600 pb-5">
                    {{ "REGISTER.POST_CONFIRMATION" | translate }}
                </p>

                <label for="code" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "REGISTER.CODE" | translate }}</label>
                <input type="text" class="w-100 mb-4" [formControl]="code" placeholder="{{ 'REGISTER.CODE_PLACEHOLDER' | translate }}" autocomplete="off" id="code" name="code" mask="000 000">

                <button [disabled]="code.invalid" class="secondary-brand-btn px-lg-5 d-block mx-auto w-100" (click)="onSubmitStep4()">
                    {{ "REGISTER.NEXT" | translate }}
                </button>
                <button class="brand-outline-btn px-lg-5 d-block mx-auto w-100 mt-3 opacity-08" (click)="stepBack()">
                    {{ "REGISTER.BACK" | translate }}
                </button>
            </div>

            <div *ngIf="actualStep === 5" class="fade-in-right py-5 pb-lg-5 pt-lg-4 max-width-360">
                <h4 class="brand-text fw-700 pb-2">
                    {{ "REGISTER.TITLE_3" | translate }}
                </h4>

                <p class="secondary-text fw-600 pb-4">
                    {{ "REGISTER.SUBTITLE_4" | translate }} {{ name.value }}
                </p>

                <p class="brand-text fw-800 pb-4">
                    {{ "REGISTER.ENJOY" | translate }}
                </p>
                
                <p class="secondary-text fw-600 pb-5">
                    {{ "REGISTER.CLICK_BUTTON" | translate }}
                </p>

                <a class="cursor-pointer" (click)="loginAndEnter()">
                    <button class="secondary-brand-btn px-lg-5 d-block mx-auto w-100">
                        {{ "REGISTER.GO_TO_PANEL" | translate }}
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>