<section class="main-hero d-flex align-items-center justify-content-center h-100-dvh min-h-100-dvh max-h-100-dvh w-100">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="text-white fade-in">Assuma a liderança de um</h4>
                <h1 class="text-white fade-in">Futuro sustentável</h1>
                <h5 class="fw-500 text-white pt-3 fade-in-left">
                    A <span class="fw-700">ThinkSus</span> é referência em sustentabilidade aplicada, <br class="d-none d-md-block">
                    design e gestão de negócios.
                </h5>
            </div>
        </div>
    </div>
</section>

<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>
<p>home works!</p>