<footer class="container py-4">
  <div class="row">
    <div class="col d-flex flex-column flex-md-row align-items-center justify-content-between gap-3">
      <p class="primary-text f-size-12px fw-500">
        {{ "FOOTER_LOGGED.RIGHTS" | translate }}
      </p>
      
      <div class="d-flex align-items-center justify-content-end gap-3">
        <a class="primary-text f-size-12px fw-500">
          ThinkSus
        </a>

        <img src="/assets/icon/vertical-separator.svg" alt="separador">

        <a class="primary-text f-size-12px fw-500">
          {{ "FOOTER_LOGGED.ABOUT" | translate }}
        </a>

        <img src="/assets/icon/vertical-separator.svg" alt="separador">
        
        <a class="primary-text f-size-12px fw-500">
          {{ "FOOTER_LOGGED.SUBSCRIPTION" | translate }}
        </a>

        <img src="/assets/icon/vertical-separator.svg" alt="separador">

        <a class="primary-text f-size-12px fw-500">
          {{ "FOOTER_LOGGED.HELP" | translate }}
        </a>
      </div>
    </div>
  </div>
</footer>