<footer class="container py-4">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-between gap-3">
      <p class="primary-text f-size-12px fw-500">
        @ 2023, ThinkSus, todos os direitos reservados
      </p>
      
      <div class="d-flex align-items-center justify-content-end gap-3">
        <a class="primary-text f-size-12px fw-500">
          ThinkSus
        </a>

        <img src="/assets/icon/vertical-separator.svg" alt="separador">

        <a class="primary-text f-size-12px fw-500">
          Sobre ESG
        </a>

        <img src="/assets/icon/vertical-separator.svg" alt="separador">
        
        <a class="primary-text f-size-12px fw-500">
          Assinatura
        </a>

        <img src="/assets/icon/vertical-separator.svg" alt="separador">

        <a class="primary-text f-size-12px fw-500">
          Ajuda
        </a>
      </div>
    </div>
  </div>
</footer>