<!-- Sub Hero -->
<section class="sub-hero-3 d-flex align-items-center justify-content-center py-5 w-100">
    <div class="container pb-5 pt-3 pt-md-5">
        <div class="row pt-5">
            <div class="col content pt-5">
                <h1 class="text-white fade-in pt-5">{{ 'PLANS.TITLE' | translate }}</h1>
                <h5 class="fw-500 text-white pt-4 pt-md-3 fade-in-left" style="max-width: 860px;">
                    {{ 'PLANS.SUBTITLE' | translate }}
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- Simples, rápido e completo -->
<section class="w-100 py-5">
    <div class="container pb-5">
        <div class="row py-5 pb-lg-0">
            <div class="col">
                <h3 class="brand-text l-spacing-minus-1 pb-3">
                    {{ 'PLANS.SIMPLE_FAST' | translate }}
                </h3>
    
                <p class="body-2 secondary-text pb-4" style="max-width: 780px;">
                    {{ 'PLANS.OUR_PANEL' | translate }}
                </p>
            </div>
        </div>

        <div class="row py-5">
            <div class="col">
                <div class="table-container d-flex align-items-start justify-content-start">
                    <!-- Column 1 -->
                    <div class="table-column first-column">
                        <div>
                            <p class="brand-text title-small">{{ 'PLANS.BENEFITS' | translate }}</p>
                        </div>
                        <div>
                            <img src="/assets/icon/table-1.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1">{{ 'PLANS.SIMULATION' | translate }}</p>
                                <p class="table-small-subtitle">{{ 'PLANS.INDICATORS' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-2.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title">{{ 'PLANS.ODS_INDICATOR' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-1.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1">{{ 'PLANS.THINKSUS' | translate }}</p>
                                <p class="table-small-subtitle" style="max-width: 178px;">{{ 'PLANS.SCORES' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-4.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title" style="max-width: 186px;">{{ 'PLANS.INDICATORS_PLATFORM' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-5.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1" style="max-width: 134px;">
                                    {{ 'PLANS.PACKAGE' | translate }}
                                </p>
                                <p class="table-small-subtitle">{{ 'PLANS.RELATORY' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-6.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title">{{ 'PLANS.ACTIVE_PROFILE' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-7.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1" style="max-width: 155px;">{{ 'PLANS.AVALIATION' | translate }}</p>
                                <p class="table-small-subtitle">{{ 'PLANS.ESG_CONTROL' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-8.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title">{{ 'PLANS.REGISTER_BLOCKCHAIN' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-9.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title" style="max-width: 165px;">{{ 'PLANS.CERTIFICATION' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-10.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1" style="max-width: 197px;">{{ 'PLANS.FRAMEWORKS' | translate }}</p>
                                <p class="table-small-subtitle">{{ 'PLANS.GRI' | translate }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Column 2 -->
                    <div class="table-column">
                        <div>
                            <p class="brand-text title-small w-100 text-center">{{ 'PLANS.SIMULATION_TITLE' | translate }}</p>
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                    </div>

                    <!-- Column 3 -->
                    <div class="table-column">
                        <div>
                            <p class="brand-text title-small w-100 text-center">{{ 'PLANS.SOLUTION_TITLE' | translate }}</p>
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                    </div>

                    <!-- Column 4 -->
                    <div class="table-column">
                        <div>
                            <p class="brand-text title-small w-100 text-center">{{ 'PLANS.SUPLEMENT_TITLE' | translate }}</p>
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex flex-column-reverse flex-md-row align-items-center justify-content-end gap-4">
                <a routerLink="/free-test" (click)="scrollToTop()">
                    <button class="brand-outline-btn px-5">{{ 'PLANS.FREE_TEST' | translate }}</button>
                </a>
                <button class="brand-btn px-md-5">{{ 'PLANS.GET_YOURS' | translate }}</button>
            </div>
        </div>
    </div>
</section>