<!-- Sub Hero -->
<section class="sub-hero-3 d-flex align-items-center justify-content-center py-5 w-100">
    <div class="container pb-5 pt-3 pt-md-5">
        <div class="row pt-5">
            <div class="col content pt-5">
                <h1 class="text-white fade-in pt-5">Conheça nossos planos</h1>
                <h5 class="fw-500 text-white pt-4 pt-md-3 fade-in-left" style="max-width: 860px;">
                    Sua empresa receberá um relatório que, de forma criteriosa, aponta 
                    pontos fortes e a melhorar na jornada ESG. A depender do grau de 
                    maturidade avaliado, sua empresa pode se tornar Certifcada em ESG 
                    pela ThinkSus, que utiliza tecnologia de ponta para concessão do selo 
                    com acreditação, transparência e rastreabilidade.
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- Simples, rápido e completo -->
<section class="w-100 py-5">
    <div class="container pb-5">
        <div class="row py-5 pb-lg-0">
            <div class="col">
                <h3 class="brand-text l-spacing-minus-1 pb-3">
                    Simples, rápido e completo
                </h3>
    
                <p class="body-2 secondary-text pb-4" style="max-width: 780px;">
                    Com o nosso Painel você terá, além da pontuação, o acompanhamento 
                    das práticas ESG da sua Empresa e a avaliação de cada pilar.
                </p>
            </div>
        </div>

        <div class="row py-5">
            <div class="col">
                <div class="table-container d-flex align-items-start justify-content-start">
                    <!-- Column 1 -->
                    <div class="table-column first-column">
                        <div>
                            <p class="brand-text title-small">Benefícios</p>
                        </div>
                        <div>
                            <img src="/assets/icon/table-1.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1">Simulação de rating</p>
                                <p class="table-small-subtitle">(relatório de indicadores)</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-2.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title">Indicador de aderência ODS</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-1.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1">Selo ThinkSus</p>
                                <p class="table-small-subtitle">Para scores de aderência acima <br>
                                    de 60%</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-4.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title">Plataforma de indicadores e <br>dashboard</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-5.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1">
                                    Pacote completo de <br> 
                                    recomendações
                                </p>
                                <p class="table-small-subtitle">(relatório de indicadores)</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-6.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title">Perfil ativo em dashboard</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-7.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1">Avaliação e controle de <br>
                                    fornecedores</p>
                                <p class="table-small-subtitle">Controle ESG dos fornecedores</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-8.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title">Registro e validação da Blockchain</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-9.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title">Certifcação de cadeia de <br>suprimentos</p>
                            </div>
                        </div>
                        <div>
                            <img src="/assets/icon/table-10.svg" alt="Simulation" width="24px">
                            <div class="d-flex align-items-start justify-content-center flex-column">
                                <p class="table-small-title mb-1">Frameworks de análise aderentes a sua operação e cadeia de valor</p>
                                <p class="table-small-subtitle">(GRI, SASB, TCFD e demais)</p>
                            </div>
                        </div>
                    </div>

                    <!-- Column 2 -->
                    <div class="table-column">
                        <div>
                            <p class="brand-text title-small w-100 text-center">Simulação</p>
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                    </div>

                    <!-- Column 3 -->
                    <div class="table-column">
                        <div>
                            <p class="brand-text title-small w-100 text-center">Solução</p>
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-not.svg" alt="Not" width="24px">
                        </div>
                    </div>

                    <!-- Column 4 -->
                    <div class="table-column">
                        <div>
                            <p class="brand-text title-small w-100 text-center">Cadeia de Suprimento</p>
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                        <div class="align-items-center justify-content-center">
                            <img src="/assets/icon/table-check.svg" alt="Check" width="24px">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex flex-column-reverse flex-md-row align-items-center justify-content-end gap-4">
                <a routerLink="/free-test" (click)="scrollToTop()">
                    <button class="brand-outline-btn px-5">Teste agora!</button>
                </a>
                <button class="brand-btn px-md-5">Adquira seu plano</button>
            </div>
        </div>
    </div>
</section>