<section class="w-100 pt-3">
    <div class="row pb-4">
        <div class="col">
            <h3 class="alpha-800-text f-size-1-5rem l-height-1-5rem pb-1 fw-800">
                Melhorias
            </h3>
            <p class="f-size-0-85rem alpha-700-text fw-500 l-height-1-25">
                Nossas sugestões
            </p>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col">
            <div class="card-logged p-4 d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-between gap-4 w-100">
                <div class="flex-grow-1">
                    <p class="secondary-text f-size-1rem fw-500 pb-3">
                        Empresa: <span class="fw-700 gray-text">Superemp</span>
                    </p>
                    
                    <p class="secondary-text f-size-1rem fw-500">
                        Setor: <span class="fw-700 gray-text">Indústria</span>
                    </p>
                </div>

                <div class="flex-grow-1">
                    <p class="secondary-text f-size-1rem fw-500 pb-3">
                        CNPJ: <span class="fw-700 gray-text">00.000.000/0000-00</span>
                    </p>
                    
                    <p class="secondary-text f-size-1rem fw-500">
                        Setor: <span class="fw-700 gray-text">Têxtil ou peles</span>
                    </p>
                </div>

                <div class="flex-grow-1">
                    <p class="secondary-text text-end f-size-0-85rem l-height-1-25 fw-500">
                        Pontuação ThinkSus
                    </p>
                    
                    <p class="system-success-text text-end f-size-3rem l-height-3 fw-700">
                        97
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8">
            <img src="/assets/img/city-bg.webp" alt="Cidade" width="100%" class="d-block w-100" style="border-radius: 1rem;">
        </div>

        <div class="col-12 col-lg-4">
            <div class="card-logged p-4">
                <div class="cursor-pointer d-flex align-items-center justify-content-between">
                    <p class="d-flex align-items-end justify-content-start gap-2 fw-700 f-size-1-5rem l-height-1-5 green-600-text">
                        1 <span class="fw-700 f-size-1-25rem l-height-1-25 green-600-text">Ambiental</span>
                    </p>

                    <img src="/assets/icon/open-close.svg" alt="Icon">
                </div>
            </div>
        </div>
    </div>
</section>