<section *ngIf="companyInfo && assesmentInfo" class="w-100 pt-3">
    <div class="row pb-4">
        <div class="col">
            <h3 class="alpha-800-text f-size-1-5rem l-height-1-5rem pb-1 fw-800">
                {{ "IMPROVEMENTS_HUD.TITLE" | translate }}
            </h3>
            <p class="f-size-0-85rem alpha-700-text fw-500 l-height-1-25">
                {{ "IMPROVEMENTS_HUD.SUBTITLE" | translate }}
            </p>
        </div>
    </div>

    <div class="fade-in row pb-5">
        <div class="col">
            <div class="card-logged p-4 d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-between gap-4 w-100">
                <div class="flex-grow-1">
                    <p class="secondary-text f-size-1rem fw-500 pb-3">
                        {{ "IMPROVEMENTS_HUD.COMPANY" | translate }}: <span class="fw-700 gray-text">{{ companyInfo.company }}</span>
                    </p>
                    
                    <p class="secondary-text f-size-1rem fw-500">
                        {{ "IMPROVEMENTS_HUD.SECTION" | translate }}: 
                        <span class="fw-700 gray-text">{{ "SECTORS." + companyInfo.section | translate }}</span>
                    </p>
                </div>

                <div class="flex-grow-1">
                    <p class="secondary-text f-size-1rem fw-500 pb-3">
                        {{ "IMPROVEMENTS_HUD.CNPJ" | translate }}: <span class="fw-700 gray-text">{{ companyInfo.cnpj }}</span>
                    </p>
                    
                    <p class="secondary-text f-size-1rem fw-500">
                        {{ "IMPROVEMENTS_HUD.SEGMENT" | translate }}: <span class="fw-700 gray-text">{{ "SEGMENTS." + companyInfo.segment | translate }}</span>
                    </p>
                </div>

                <div class="flex-grow-1">
                    <p class="secondary-text text-end f-size-0-85rem l-height-1-25 fw-500">
                        {{ "IMPROVEMENTS_HUD.SCORE" | translate }}
                    </p>
                    
                    <p class="system-success-text text-end f-size-3rem l-height-3 fw-700">
                        {{ assesmentInfo.esgScore.toFixed() }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="fade-in row" [class.pb-4]="!selectedESG">
        <div class="col-12 col-lg-8 pb-4 pb-lg-0">
            <div class="w-100 position-relative" style="overflow: hidden">
                <img *ngIf="!selectedESG" src="/assets/img/city-bg.webp" alt="Cidade" width="100%" class="d-block w-100" style="border-radius: 1rem;">
                <img *ngIf="selectedESG === 'environmental'" src="/assets/img/environmental-city.png" alt="environmental" width="100%" class="d-block w-100" style="border-radius: 1rem;">
                <img *ngIf="selectedESG === 'social'" src="/assets/img/social-city.png" alt="social" width="100%" class="d-block w-100" style="border-radius: 1rem;">
                <img *ngIf="selectedESG === 'governmental'" src="/assets/img/governmental-city.png" alt="governmental" width="100%" class="d-block w-100" style="border-radius: 1rem;">

                <div *ngFor="let item of [].constructor(12); let i = index" class="cursor-pointer improvement-item {{ 'number-' + (i + 1) }}" (click)="changeSelectedESG( i + 1 )">
                    <p class="f-size-1rem fw-700 d-flex align-item-center justify-content-center">
                        {{ (i + 1) }}
                    </p>
                </div>
            </div>

        </div>

        <div *ngIf="!selectedESG" class="col-12 col-lg-4 fade-in">
            <div class="w-100 glossary-card p-4">
                <p class="fw-700 d-inline f-size-1rem l-height-1-25">
                    {{ "IMPROVEMENTS_HUD.SELECTE_AN_OPTION" | translate }}
                    <span class="d-inline fw-500 l-height-1-25">{{ "IMPROVEMENTS_HUD.AT_SIDE" | translate }}</span>
                </p>
            </div>
        </div>

        <div *ngIf="selectedESG === 'environmental'" class="col-12 col-lg-4 fade-in">
            <div *ngFor="let item of environmentalScoresArray; let i = index" class="card-logged custom-accordion p-4 mb-2" [class.active]="openAccordions.includes(i + 1)">
                <div class="cursor-pointer d-flex align-items-center justify-content-between" (click)="toggleAccordion(i + 1)">
                    <p class="d-flex align-items-end justify-content-start gap-2 fw-700 f-size-1-5rem l-height-1-5 green-600-text">
                        {{ (i + 1) }} <span class="fw-700 f-size-1-25rem l-height-1-25 green-600-text">{{ "IMPROVEMENTS_TITLES.ENVIRONMENTAL_TITLE_" + (i + 1) | translate }}</span>
                    </p>

                    <img src="/assets/icon/open-close.svg" alt="Icon" class="open-close-icon">
                </div>

                <div class="content-custom-accordion">
                    <p *ngIf="item.score <= 17.5" class="f-size-0-85rem fw-500 alpha-800-text l-height-1-25 w-100">
                        {{ "IMPROVEMENTS_" + companyInfo.section + ".ENVIRONMENTAL_DESCRIPTION_" + (i + 1) + (item.score < 10 ? '_LOW' : '') + (item.score >= 10 && item.score <= 17.5 ? '_MEDIUM' : '') | translate }}
                    </p>

                    <p *ngIf="item.score > 17.5" class="f-size-0-85rem fw-500 alpha-800-text l-height-1-25 w-100">
                        {{ "IMPROVEMENTS_TITLES.HIGH_SCORE_DESCRIPTION" | translate }}
                    </p>
                </div>
            </div>
        </div>

        <div *ngIf="selectedESG === 'social'" class="col-12 col-lg-4 fade-in">
            <div *ngFor="let item of socialScoresArray; let i = index" class="card-logged custom-accordion custom-accordion-social p-4 mb-2" [class.active]="openAccordions.includes(i + 5)">
                <div class="cursor-pointer d-flex align-items-center justify-content-between" (click)="toggleAccordion(i + 5)">
                    <p class="d-flex align-items-end justify-content-start gap-2 fw-700 f-size-1-5rem l-height-1-5 purple-600-text">
                        {{ (i + 5) }} <span class="fw-700 f-size-1-25rem l-height-1-25 purple-600-text">{{ "IMPROVEMENTS_TITLES.SOCIAL_TITLE_" + (i + 5) | translate }}</span>
                    </p>

                    <img src="/assets/icon/open-close-purple.svg" alt="Icon" class="open-close-icon">
                </div>

                <div class="content-custom-accordion">
                    <p *ngIf="item.score <= 17.5" class="f-size-0-85rem fw-500 alpha-800-text l-height-1-25 w-100">
                        {{ "IMPROVEMENTS_" + companyInfo.section + ".SOCIAL_DESCRIPTION_" + (i + 5) + (item.score < 10 ? '_LOW' : '') + (item.score >= 10 && item.score <= 17.5 ? '_MEDIUM' : '') | translate }}
                    </p>
                    
                    <p *ngIf="item.score > 17.5" class="f-size-0-85rem fw-500 alpha-800-text l-height-1-25 w-100">
                        {{ "IMPROVEMENTS_TITLES.HIGH_SCORE_DESCRIPTION" | translate }}
                    </p>
                </div>
            </div>
        </div>

        <div *ngIf="selectedESG === 'governmental'" class="col-12 col-lg-4 fade-in">
            <div *ngFor="let item of governanceScoresArray; let i = index" class="card-logged custom-accordion custom-accordion-governmental p-4 mb-2" [class.active]="openAccordions.includes(i + 9)">
                <div class="cursor-pointer d-flex align-items-center justify-content-between" (click)="toggleAccordion(i + 9)">
                    <p class="d-flex align-items-end justify-content-start gap-2 fw-700 f-size-1-5rem l-height-1-5 blue-600-text">
                        {{ (i + 9) }} <span class="fw-700 f-size-1-25rem l-height-1-25 blue-600-text">{{ "IMPROVEMENTS_TITLES.GOVERNMENTAL_TITLE_" + (i + 9) | translate }}</span>
                    </p>

                    <img src="/assets/icon/open-close-blue.svg" alt="Icon" class="open-close-icon">
                </div>

                <div class="content-custom-accordion">
                    <p *ngIf="item.score <= 17.5" class="f-size-0-85rem fw-500 alpha-800-text l-height-1-25 w-100">
                        {{ "IMPROVEMENTS_" + companyInfo.section + ".GOVERNMENTAL_DESCRIPTION_" + (i + 9) + (item.score < 10 ? '_LOW' : '') + (item.score >= 10 && item.score <= 17.5 ? '_MEDIUM' : '') | translate }}
                    </p>
                    
                    <p *ngIf="item.score > 17.5" class="f-size-0-85rem fw-500 alpha-800-text l-height-1-25 w-100">
                        {{ "IMPROVEMENTS_TITLES.HIGH_SCORE_DESCRIPTION" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selectedESG" class="fade-in row py-4">
        <div class="col">
            <div class="pb-3">
                <h4 *ngIf="selectedESG === 'environmental'" class="primary-text f-size-1-5rem fw-700 pb-1">
                    {{ "IMPROVEMENTS_HUD.ADERENCE_TITLE_ENVIRONMENTAL" | translate }}
                </h4>
                
                <h4 *ngIf="selectedESG === 'social'" class="primary-text f-size-1-5rem fw-700 pb-1">
                    {{ "IMPROVEMENTS_HUD.ADERENCE_TITLE_SOCIAL" | translate }}
                </h4>

                <h4 *ngIf="selectedESG === 'governmental'" class="primary-text f-size-1-5rem fw-700 pb-1">
                    {{ "IMPROVEMENTS_HUD.ADERENCE_TITLE_GOVERNANCE" | translate }}
                </h4>

                <p class="alpha-700-text f-size-0-85rem fw-500">
                    {{ "IMPROVEMENTS_HUD.ADERENCE_SUBTITLE" | translate }}
                </p>
            </div>
    
            <div class="card-logged rounded d-flex align-items-end justify-content-between gap-3 w-100 p-2 mb-2">
                <div *ngIf="selectedESG === 'environmental'" class="flex-grow-1 flex-wrap d-flex align-item-center justify-content-start gap-2">
                    <img src="/assets/icon/selos-ods/6.svg" alt="6" title="6">
                    <img src="/assets/icon/selos-ods/7.svg" alt="7" title="7">
                    <img src="/assets/icon/selos-ods/9.svg" alt="9" title="9">
                    <img src="/assets/icon/selos-ods/11.svg" alt="11" title="11">
                    <img src="/assets/icon/selos-ods/12.svg" alt="12" title="12">
                    <img src="/assets/icon/selos-ods/13.svg" alt="13" title="13">
                    <img src="/assets/icon/selos-ods/14.svg" alt="14" title="14">
                    <img src="/assets/icon/selos-ods/15.svg" alt="15" title="15">
                </div>
                
                <div *ngIf="selectedESG === 'social'" class="flex-grow-1 flex-wrap d-flex align-item-center justify-content-start gap-2">
                    <img src="/assets/icon/selos-ods/1.svg" alt="1" title="1">
                    <img src="/assets/icon/selos-ods/2.svg" alt="2" title="2">
                    <img src="/assets/icon/selos-ods/3.svg" alt="3" title="3">
                    <img src="/assets/icon/selos-ods/4.svg" alt="4" title="4">
                    <img src="/assets/icon/selos-ods/5.svg" alt="5" title="5">
                    <img src="/assets/icon/selos-ods/6.svg" alt="6" title="6">
                    <img src="/assets/icon/selos-ods/8.svg" alt="8" title="8">
                    <img src="/assets/icon/selos-ods/9.svg" alt="9" title="9">
                    <img src="/assets/icon/selos-ods/10.svg" alt="10" title="10">
                    <img src="/assets/icon/selos-ods/12.svg" alt="12" title="12">
                    <img src="/assets/icon/selos-ods/16.svg" alt="16" title="16">
                </div>

                <div *ngIf="selectedESG === 'governmental'" class="flex-grow-1 flex-wrap d-flex align-item-center justify-content-start gap-2">
                    <img src="/assets/icon/selos-ods/5.svg" alt="5" title="5">
                    <img src="/assets/icon/selos-ods/8.svg" alt="8" title="8">
                    <img src="/assets/icon/selos-ods/9.svg" alt="9" title="9">
                    <img src="/assets/icon/selos-ods/11.svg" alt="11" title="11">
                    <img src="/assets/icon/selos-ods/12.svg" alt="12" title="12">
                    <img src="/assets/icon/selos-ods/13.svg" alt="13" title="13">
                    <img src="/assets/icon/selos-ods/16.svg" alt="16" title="16">
                    <img src="/assets/icon/selos-ods/17.svg" alt="17" title="17">
                </div>
            </div>
        </div>
    </div>
</section>