<div class="w-100 py-5 brand-bg"></div>

<!-- Login -->
<section class="container-fluid">
    <div class="row justify-content-center justify-content-lg-between">
        <div class="d-none d-lg-block col-0 col-lg-6 ps-0">
            <img src="/assets/img/login-img.jpg" alt="Imagem de indústria" class="auth-img">
        </div>
        
        <div *ngIf="step === 1" class="col-12 col-lg-6 pb-lg-5 pt-lg-4 d-flex flex-column align-items-center justify-content-center pb-5 pb-lg-0">
            <form [formGroup]="emailForm" (submit)="sendEmail()" class="fade-in-right py-5 pb-lg-5 pt-lg-4 max-width-360">
                <h4 class="brand-text fw-700 pb-2">
                    {{ "FORGOT_PASSWORD.TITLE" | translate }}
                </h4>

                <p class="secondary-text fw-600 pb-4 mb-2">
                    {{ "FORGOT_PASSWORD.SUBTITLE" | translate }}
                </p>

                <label for="email" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "FORGOT_PASSWORD.EMAIL" | translate }}</label>
                <input type="email" class="w-100 mb-4" formControlName="email" placeholder="email@email.com" autocomplete="off" id="email" name="email">

                <!-- <label for="password" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "LOGIN.PASSWORD" | translate }}</label>
                <div class="input-container mb-4">
                    <input [type]="showPassword ? 'text' : 'password'" class="w-100" formControlName="password" placeholder="{{ 'LOGIN.INSERT_PASSWORD' | translate }}" autocomplete="off" id="password" name="password">
                    <img *ngIf="showPassword" (click)="showPassword = false" src="/assets/icon/eye.svg" alt="Esconder senha" class="input-icon cursor-pointer">
                    <img *ngIf="!showPassword" (click)="showPassword = true" src="/assets/icon/eye-slash.svg" alt="Mostrar senha" class="input-icon cursor-pointer">
                </div> -->

                <button class="secondary-brand-btn px-lg-5 d-block mx-auto w-100" [disabled]="emailForm.invalid" type="submit">
                    {{ 'FORGOT_PASSWORD.SEND' | translate }}
                </button>
                <a routerLink="/login">
                    <button class="brand-outline-btn px-lg-5 d-block mx-auto w-100 mt-3 opacity-08">
                        {{ 'FORGOT_PASSWORD.BACK' | translate }}
                    </button>
                </a>
            </form>
        </div>
        <div *ngIf="step === 2" class="col-12 col-lg-6 pb-lg-5 pt-lg-4 d-flex flex-column align-items-center justify-content-center pb-5 pb-lg-0">
          <form [formGroup]="passwordForm" (submit)="sendPassword()" class="fade-in-right py-5 pb-lg-5 pt-lg-4 max-width-360">
              <h4 class="brand-text fw-700 pb-2">
                  {{ "FORGOT_PASSWORD.TITLE" | translate }}
              </h4>

              <p class="secondary-text fw-600 pb-4 mb-2">
                  {{ "FORGOT_PASSWORD.SUBTITLE" | translate }}
              </p>

              <label for="code" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "FORGOT_PASSWORD.CODE" | translate }}</label>
              <input type="text" mask="000-000" class="w-100 mb-4" formControlName="code" placeholder="{{ 'FORGOT_PASSWORD.CODE' | translate }}"  autocomplete="off" id="code" name="code">

              <label for="password" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "FORGOT_PASSWORD.PASSWORD" | translate }}</label>
              <div class="input-container mb-4">
                  <input [type]="showPassword ? 'text' : 'password'" class="w-100" formControlName="password" placeholder="{{ 'FORGOT_PASSWORD.PASSWORD' | translate }}" autocomplete="off" id="password" name="password">
                  <img *ngIf="showPassword" (click)="showPassword = false" src="/assets/icon/eye.svg" alt="Esconder senha" class="input-icon cursor-pointer">
                  <img *ngIf="!showPassword" (click)="showPassword = true" src="/assets/icon/eye-slash.svg" alt="Mostrar senha" class="input-icon cursor-pointer">
              </div>

              <label for="confirmPassword" class="pb-2 fw-600 f-size-1rem l-spacing-1-68">{{ "FORGOT_PASSWORD.CONFIRM_PASSWORD" | translate }}</label>
              <div class="input-container mb-4">
                  <input [type]="showPasswordConfirmation ? 'text' : 'password'" class="w-100" formControlName="confirmPassword" placeholder="{{ 'FORGOT_PASSWORD.CONFIRM_PASSWORD' | translate }}" autocomplete="off" id="confirmPassword" name="confirmPassword">
                  <img *ngIf="showPasswordConfirmation" (click)="showPasswordConfirmation = false" src="/assets/icon/eye.svg" alt="Esconder senha" class="input-icon cursor-pointer">
                  <img *ngIf="!showPasswordConfirmation" (click)="showPasswordConfirmation = true" src="/assets/icon/eye-slash.svg" alt="Mostrar senha" class="input-icon cursor-pointer">
              </div>

              <button class="secondary-brand-btn px-lg-5 d-block mx-auto w-100" [disabled]="passwordForm.invalid" type="submit">
                  {{ 'FORGOT_PASSWORD.SEND' | translate }}
              </button>
              <a routerLink="/login">
                  <button class="brand-outline-btn px-lg-5 d-block mx-auto w-100 mt-3 opacity-08">
                      {{ 'FORGOT_PASSWORD.BACK' | translate }}
                  </button>
              </a>
          </form>
      </div>
    </div>
</section>