<!-- Sub Hero -->
<section class="sub-hero-2 d-flex align-items-center justify-content-center py-5 w-100">
    <div class="container pb-5 pt-3 pt-md-5">
        <div class="row pt-5">
            <div class="col content pt-5">
                <div class="py-0 py-lg-5"></div>
                <h1 class="text-white fade-in pt-5">{{ 'ABOUT_US.TITLE' | translate }}</h1>
            </div>
        </div>
    </div>
</section>


<section class="w-100 py-5">
    <div class="container pb-5">
        <div class="row py-5">
            <div class="col d-flex flex-column flex-xxl-row align-items-center align-items-xxl-start justify-content-between gap-5">
                <iframe width="100%" src="https://www.youtube.com/embed/QsQPvHlddZY?si=rM1ruw0-hkYluqg1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width: 622px; min-height: 380px;"></iframe>
    
                <div style="max-width: 622px;">
                    <h5 class="fw-500 primary-text pb-3">
                        {{ 'ABOUT_US.BODY_1' | translate }}
                    </h5>
                    <h5 class="fw-500 primary-text pb-3">
                        {{ 'ABOUT_US.BODY_2' | translate }}
                    </h5>
                    <h5 class="fw-500 primary-text pb-3">
                        {{ 'ABOUT_US.BODY_3' | translate }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="w-100 brand-bg">
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-12 d-flex flex-column flex-xxl-row align-items-center align-items-xxl-start justify-content-between gap-5">
                <div class="d-flex flex-column align-items-center w-100">
                    <h3 class="text-white fade-in pt-5">{{ 'ABOUT_US.TEAM_TITLE' | translate }}</h3>
    
                    <h5 class="body-3 text-center text-white pt-4 pt-md-3 fade-in-left" style="max-width: 855px;">
                        {{ 'ABOUT_US.TEAM_BODY' | translate }}
                    </h5>
                </div>
            </div>

            <div class="we-are-container flex-column flex-lg-row py-5">
                <a href="https://www.linkedin.com/in/acalixter/" target="_blank">
                    <img src="{{ 'ABOUT_US.TEAM_COF_1' | translate }}" alt="Linkedin do Abner">
                </a>
                
                <a href="https://www.linkedin.com/in/gustavocarrijoduarte/" target="_blank" class="second">
                    <img src="{{ 'ABOUT_US.TEAM_COF_2' | translate }}" alt="Linkedin do Carrijo">
                </a>

                <a href="https://www.linkedin.com/in/gustavohprestes/" target="_blank">
                    <img src="{{ 'ABOUT_US.TEAM_COF_3' | translate }}" alt="Linkedin do Prestes">
                </a>
            </div>
        </div>
    </div>
</section>
