<section class="w-100">
  <div class="row pb-4 pt-4">
    <div
      class="col d-flex flex-column flex-md-row align-item-center justify-content-between gap-3 pb-4"
    >
      <h3 class="alpha-800-text f-size-1-5rem fw-800">
        {{ "SUPPLIERS.LIST_TITLE" | translate }}
      </h3>

      <button class="brand-btn px-3" (click)="openAddSupplier()">
        {{ "SUPPLIERS.ADD_SUPPLIER" | translate }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="w-100 pb-2 mat-elevation-z8">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-table-custom white-bg border-radius-10 pt-2 w-100"
        >
          <!-- Seal -->
          <ng-container matColumnDef="seal">
            <th mat-header-cell *matHeaderCellDef>
              {{ "SUPPLIERS.SEAL" | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              <img
                *ngIf="
                  item.esgRatings?.length == 0 ||
                  item.esgRatings?.esgScore <= 35
                "
                src="/assets/icon/none-seal.svg"
                alt="Sem Selo"
                title="Sem Selo"
                width="20px"
              />
              <img
                *ngIf="
                  item.esgRatings?.esgScore > 35 &&
                  item.esgRatings?.esgScore <= 60
                "
                src="/assets/icon/seal-bronze.svg"
                alt="Selo de Bronze"
                title="Selo de Bronze"
                width="20px"
              />
              <img
                *ngIf="
                  item.esgRatings?.esgScore > 60 &&
                  item.esgRatings?.esgScore <= 80
                "
                src="/assets/icon/seal-silver.svg"
                alt="Selo de Prata"
                title="Selo de Prata"
                width="20px"
              />
              <img
                *ngIf="item.esgRatings?.esgScore > 80"
                src="/assets/icon/seal-gold.svg"
                alt="Selo de Ouro"
                title="Selo de Ouro"
                width="20px"
              />
            </td>
          </ng-container>

          <!-- Supplier -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "SUPPLIERS.SUPPLIER" | translate }}
            </th>
            <td mat-cell *matCellDef="let item">{{ item.company }}</td>
          </ng-container>

          <!-- Buy Value -->
          <ng-container matColumnDef="buyValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "SUPPLIERS.BUY_VALUE" | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              {{
                item.buyValue | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR"
              }}
            </td>
          </ng-container>

          <!-- ESG Score -->
          <ng-container matColumnDef="esgScore">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "SUPPLIERS.SCORE" | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let item"
              class="fw-700"
              [class.brand-text-clear]="item.esgRatings?.[0]?.esgScore > 50"
              [class.yellow-500-text]="
                item.esgRatings?.[0]?.esgScore <= 50 && item.esgRatings?.[0]?.esgScore >= 30
              "
              [class.danger-text]="item.esgRatings?.[0]?.esgScore <= 30"
            >
              {{ item.esgRatings?.[0]?.esgScore | number:'1.2-2' }}
            </td>
          </ng-container>

          <!-- CNPJ -->
          <ng-container matColumnDef="document">
            <th mat-header-cell *matHeaderCellDef>
              {{ "SUPPLIERS.CNPJ" | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              {{ item.cnpj | cnpj }}
            </td>
          </ng-container>

          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              {{ "SUPPLIERS.ACTIONS" | translate }}
            </th>
            <td mat-cell *matCellDef="let item">
              <button mat-icon-button (click)="openUserEditModal(item._id)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>

      <p
        *ngIf="!dataSource.data.length"
        class="w-100 text-center py-4 py-xl-5 color-app-300 font-s-09rem d-flex align-items-center justify-content-center gap-2"
      >
        {{ "SUPPLIERS.NO_RESULTS" | translate }}
      </p>
    </div>
  </div>
</section>
