<div *ngIf="!userHasContractedPlan" class="row pb-5">
    <div class="col">
        <div class="darker-card-logged w-100 p-3 p-xl-4 d-flex flex-column flex-xl-row align-items-start align-items-xl-center justify-content-between gap-4">
            <div class="flex-grow-1 d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-start gap-3">
                <img src="/assets/img/forest.svg" alt="Ambiental" width="128px">

                <div class="w-100 d-block">
                    <h4 class="f-size-1-25rem fw-700 brand-text">
                        {{ "ASSESMENT.YOU_CAN" | translate }}
                    </h4>
                    <p class="f-size-0-85rem alpha-800-text fw-500">
                        {{ "ASSESMENT.SIMULATE" | translate }}
                    </p>
                </div>
            </div>

            <button (click)="navigateToSimulation()" class="d-flex brand-btn align-items-center justify-content-center gap-2">
                {{ "ASSESMENT.INIT_SIMULATION" | translate }}
                <img src="/assets/icon/go-to.svg" alt="">
            </button>
        </div>
    </div>
</div>

<form [formGroup]="form" (submit)="onSubmit()">
    <div class="fade-in row">
        <div class="col">
            <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-between gap-3">
                <div class="flex-grow-1">
                    <h4 class="f-size-1-5rem l-height-1-5rem fw-700 primary-text mb-2">
                        {{ "ASSESMENT.INIT_SIMULATION" | translate }}
                    </h4>
                    <p class="alpha-700-text f-size-0-85rem fw-500">
                        {{ "ASSESMENT.ANSWER_QUESTIONARY" | translate }}
                    </p>
                </div>
    
                <div>
                    <p class="d-block w-100 text-start f-size-12px l-height-1rem fw-500 alpha-500-text pb-2">
                        {{ "ASSESMENT.ASSESMENT_TITLE" | translate }}
                    </p>
                    <div class="d-flex align-items-center justify-content-start gap-2" style="min-width: 360px;">
                        <input type="text" formControlName="title" class="w-100" placeholder="{{ 'ASSESMENT.ASSESMENT_PLACEHOLDER' | translate }}" style="padding: 7.5px 12px !important;">
                        <button class="brand-outline-btn f-size-0-85rem" [disabled]="form.invalid" style="min-width: 93px; max-width: 93px;padding: 5px 12px !important;">
                            {{ "ASSESMENT.CONFIRM" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="fade-in row">
        <div class="col d-flex flex-column flex-lg-row align-items-start justify-content-start gap-4 pt-4">
            <div class="flex-grow-1 w-100 glossary-card bg-transparent p-3 p-xl-4">
                <div class="d-flex align-items-start justify-content-between gap-3">
                    <img src="/assets/img/forest.svg" alt="Ambiental" width="168px">
                    <p class="brand-700-text fw-700 f-size-1-25rem">{{ environmentalProgress }}%</p>
                </div>
                
                <p class="brand-700-text fw-700 f-size-1-25rem pt-3 pb-2">{{ "ASSESMENT.AMBIENTAL" | translate }}</p>
                <p class="alpha-700-text fw-500 f-size-0-85rem l-height-1-25 mb-5 pb-3">{{ "ASSESMENT.AMBIENTAL_DESCRIPTION" | translate }}</p>
    
                <a (click)="verifyPossibility('e')" *ngIf="(1 > environmentalProgress)" class="w-100">
                    <button class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.INIT_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>
    
                <a (click)="verifyPossibility('e')" *ngIf="(1 <= environmentalProgress && 100 !== environmentalProgress)" class="w-100">
                    <button class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.CONTINUE_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>

                <a class="w-100" (click)="verifyPossibility('e')" *ngIf="(100 === environmentalProgress)">
                    <button [disabled]="true" class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.FINISHED_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>
            </div>
            
            <div class="flex-grow-1 w-100 glossary-card bg-transparent p-3 p-xl-4">
                <div class="d-flex align-items-start justify-content-between gap-3">
                    <img src="/assets/img/urban.svg" alt="Ambiental" width="168px">
                    <p class="brand-700-text fw-700 f-size-1-25rem">{{ socialProgress }}%</p>
                </div>
                
                <p class="brand-700-text fw-700 f-size-1-25rem pt-3 pb-2">{{ "ASSESMENT.SOCIAL" | translate }}</p>
                <p class="alpha-700-text fw-500 f-size-0-85rem l-height-1-25 mb-5">{{ "ASSESMENT.SOCIAL_DESCRIPTION" | translate }}</p>
    
                <a (click)="verifyPossibility('s')" *ngIf="(1 > socialProgress)" class="w-100">
                    <button class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.INIT_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>
    
                <a (click)="verifyPossibility('s')" *ngIf="(1 <= socialProgress && 100 !== socialProgress)" class="w-100">
                    <button class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.CONTINUE_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>
                
                <a class="w-100" (click)="verifyPossibility('s')" *ngIf="(100 === socialProgress)">
                    <button [disabled]="true" class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.FINISHED_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>
            </div>
    
            <div class="flex-grow-1 w-100 glossary-card bg-transparent p-3 p-xl-4">
                <div class="d-flex align-items-start justify-content-between gap-3">
                    <img src="/assets/img/rocket.svg" alt="Ambiental" width="168px">
                    <p class="brand-700-text fw-700 f-size-1-25rem">{{ governanceProgress }}%</p>
                </div>
                
                <p class="brand-700-text fw-700 f-size-1-25rem pt-3 pb-2">{{ "ASSESMENT.GOVERNAMENTAL" | translate }}</p>
                <p class="alpha-700-text fw-500 f-size-0-85rem l-height-1-25 mb-5">{{ "ASSESMENT.GOVERNAMENTAL_DESCRIPTION" | translate }}</p>
    
                <a (click)="verifyPossibility('g')" *ngIf="(1 > governanceProgress)" class="w-100">
                    <button class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.INIT_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>
    
                <a (click)="verifyPossibility('g')" *ngIf="(1 <= governanceProgress && 100 !== governanceProgress)" class="w-100">
                    <button class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.CONTINUE_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>

                <a class="w-100" (click)="verifyPossibility('g')" *ngIf="(100 === governanceProgress)">
                    <button [disabled]="true" class="w-100 brand-outline-btn d-flex align-items-center justify-content-between gap-3">
                        {{ "ASSESMENT.FINISHED_ASSESMENT" | translate }}
                        <img src="/assets/icon/init.svg" alt="Iniciar">
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="fade-in row pt-4 pb-4">
        <div class="col d-flex align-items-start justify-content-end">
            <button class="brand-btn px-5" type="submit" [disabled]="(form.invalid) || (environmentalProgress !== 100) || (socialProgress !== 100) || (governanceProgress !== 100)">
                {{ "ASSESMENT.GENERATE_RELATORY" | translate }}
            </button>
        </div>
    </div>
</form>
