@import 'bootstrap/dist/css/bootstrap.min.css';

// Reset
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}img {display: block; max-width: 100%;}
html, body {overflow-x: hidden;}
body {font-family: "Raleway", sans-serif; overflow-y: hidden;}

.w-fit-content {
    width: fit-content;
}

.cursor-pointer {
    cursor: pointer;
}

.h-100-svh {
    height: 100vh;
    height: 100svh;
}

.h-100-dvh {
    height: 100vh;
    height: 100dvh;
}

.min-h-100-svh {
    min-height: 100vh;
    min-height: 100svh;
}

.max-h-100-svh {
    max-height: 100vh;
    max-height: 100svh;
}

.min-h-100-dvh {
    min-height: 100vh;
    min-height: 100dvh;
}

.max-h-100-dvh {
    max-height: 100vh;
    max-height: 100dvh;
}

.opacity-08 {
    opacity: .8;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    from {
        transform: translateX(-1rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    from {
        transform: translateX(1rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.opacity-fade {
    opacity: 0;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.fade-in-left {
    transform: translateX(-1rem);
    
    animation-name: fade-in-left;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.fade-in-right {
    transform: translateX(1rem);

    animation-name: fade-in-right;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.fade-in-top {
    transform: translateY(-1rem);
    
    animation-name: fade-in-top;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.delay-1 {
    animation-delay: .4s;
}

.delay-2 {
    animation-delay: .8s;
}

// @media (prefers-reduced-motion: no-preference) {
//     .left-view-fade {
//         transform: translateX(-30px); opacity: .2;
//         animation: left-view-fade linear forwards;
//         animation-timeline: view();
//         animation-range: 250px 500px;
//     }

//     @keyframes left-view-fade {
//         to { transform: translateX(0); opacity: 1; }
//     }
// }

// Colors
$primary-oposite-1: #070707;
$primary-oposite-2: #0F1216;

$gray-2: #D0D0D0;
$gray-4: #818181;

$danger: #EE5252;
$success: #5CC689;
$support-16: rgba(174, 176, 187, .16);
$support-16-hover: rgba(174, 176, 187, .25);
$support-9: rgba(174, 176, 187, .09);
$support-lines: #E0E0E0;
$support-lines-dark: #364A3D;
 
$background: #F7F7F7;
$input-background: transparent;

$primary-text: #080C1F;
$secundary-text: #6E7691;
$white-text: #FFFFFF;
$link-text: #2689D0;

$input-bg: #F8F8F8;

$brand-primary: #1C4532;
$brand-secondary: #276749;
$brand-medium: #3d745a;
$brand-dark: #123524;
$brand-primary-hover: #285741;
$brand-white: #EFF0E7;
$brand-400: #9AE6B4;
$brand-auxiliar: #CC94F6;

$linear-colorful: var(--Linear-Linear, linear-gradient(217deg, #CC94F6 16.01%, #0F6 97.05%));

// Background
body, html, .bg-1 {
    background-color: $background;
    scroll-behavior: smooth;
}

.primary-text-bg {
    background-color: $primary-text;
}

.brand-bg {
    background-color: $brand-primary;
}

.brand-white-bg {
    background-color: $brand-white;
}

.brand-medium-bg {
    background-color: $brand-medium;
}

.brand-dark-bg {
    background-color: $brand-dark;
}

.primary-bg {
    background-color: $background;
}

.primary-oposite-1-bg {
    background-color: $primary-oposite-1;
}

.primary-oposite-2-bg {
    background-color: $primary-oposite-2;
}

.support-16 {
    background-color: $support-16;
}

.support-9 {
    background-color: $support-9;
}

// Text
.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 700 !important;
}

.f-size-0-671875rem {
    font-size: 0.671875rem;
}

.f-size-0-8rem {
    font-size: 0.8rem;
}

.f-size-0-85rem {
    font-size: 0.85rem;
}

.f-size-1rem {
    font-size: 1rem;
}

.f-size-1-3125rem {
    font-size: 1.3125rem;
}

.f-size-1-5rem {
    font-size: 1.5rem;
}

.f-size-2rem {
    font-size: 2rem;
}

.l-height-31 {
    line-height: 31px;
}

.l-height-1-5 {
    line-height: 1.5rem;
}

.l-height-1-25 {
    line-height: 1.25rem;
}

.l-height-2-0625 {
    line-height: 2.0625rem;
}

.l-spacing-1-68 {
    letter-spacing: 0.055em;
}

.l-spacing-0-75 {
    letter-spacing: 0.03em;
}

.l-spacing-minus-1 {
    letter-spacing: -0.03em;
}

.primary-text {
    color: $primary-text;
}

.secondary-text {
    color: $secundary-text;
}

.gray-4-text {
    color: $gray-4;
}

.white-text {
    color: $white-text;
}

.brand-text {
    color: $brand-primary;
}

.support-lines {
    color: $support-lines;
}

.brand-medium-text {
    color: $brand-medium;
}

.brand-dark-text {
    color: $brand-dark;
}

.link-text {
    color: #2689D0;
}

.brand-auxiliar-text {
    color: $brand-auxiliar;
}

.danger-text {
    color: $danger;
}

.danger-text {
    color: $success;
}

.accept-text {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.01em !important;
    font-weight: 400 !important;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4.00563rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.25rem;
    letter-spacing: -0.06006rem;
}

h2 {
    font-size: 3.20438rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.9875rem;
}

h3 {
    font-size: 2.56375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: -0.01281rem;
}

.banner-h3 {
    line-height: 3.3125rem;
}

h4 {
    font-size: 2.05063rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.7625rem;
}

h5 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.04em;
}

h6 {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.00988rem;
}

.title-small {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.table-small-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    display: block;
    color: #131313;
}

.table-small-subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    display: block;
    color: #565656;
}

.subtitle-1 {
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.00525rem;
}

.subtitle-2 {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2425rem;
    letter-spacing: 0.00438rem;
}

.body-1 {
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
}

.body-2 {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.95rem;
    letter-spacing: 0;
}

.body-3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
}

caption {
    font-size: 0.67188rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.975rem;
    letter-spacing: 0.02019rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.2rem;
        letter-spacing: -0.06006rem;
    }
    
    h2 {
        font-size: 3.20438rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.9875rem;
    }
    
    h3 {
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.8rem;
        letter-spacing: -0.01281rem;
    }
    
    .banner-h3 {
        line-height: 3.3125rem;
    }
    
    h4 {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.1rem;
    }
    
    h5 {
        font-size: 1.15rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
    }
    
    h6 {
        font-size: 1.3125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.00988rem;
    }
    
    .subtitle-1 {
        font-size: 1.05rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.00525rem;
    }
    
    .subtitle-2 {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2425rem;
        letter-spacing: 0.00438rem;
    }
    
    .body-1 {
        font-size: 1.05rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.01763rem;
    }
    
    .body-2 {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;
        letter-spacing: 0;
    }
    
    caption {
        font-size: 0.67188rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.975rem;
        letter-spacing: 0.02019rem;
    }
}

nav ul li a {
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
    color: $white-text;
    transition: .2s;
    padding: .75rem;
    position: relative;
    letter-spacing: 0.05em;

    &:hover {
        color: $white-text;
    }
    
    &.active {
        font-weight: 600;

        &::After {
            width: 100%;
            opacity: 1;
        }
    }

    &::After {
        display: block;
        content: "";
        width: 0%;
        position: absolute;
        height: 2px;
        background-color: $brand-medium;
        bottom: -.18rem;

        transition: .3s ease;
        opacity: 0;
    }
}

.link-text {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2425rem;
    letter-spacing: 0.00438rem;
    color: $link-text;

    &:hover {
        text-decoration: underline;
    }
}

input {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.03681rem;
    color: $white-text;
    width: 100%;
    background-color: $input-background;
    border: 1px solid #364A3D;
    border-radius: 8px;

    padding: .75rem 1rem .75rem 1rem;

    &::placeholder {
        color: $secundary-text;
    }
}

select {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.03681rem;
    color: $primary-text;
    width: 100%;
    background-color: $input-background;
    border: 1px solid #c1d4c7;
    border-radius: 4px;

    padding: .75rem 1rem .75rem 1rem;
}

// Buttons
button {
    transition: .3s;
}

button:disabled {
    opacity: .7;
}

.brand-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.07em;
    font-weight: 700;
    background-color: $brand-primary;
    color: $white-text;
    border: none;
    border-radius: .4rem;
    padding: .75rem 1.5rem;
    transition: .3s;

    &:hover {
        background-color: $brand-primary-hover;
    }
}

.secondary-brand-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.07em;
    font-weight: 700;
    background-color: $brand-secondary;
    color: $white-text;
    border: none;
    border-radius: .4rem;
    padding: .75rem 1.5rem;
    transition: .3s;

    &:hover {
        background-color: $brand-primary-hover;
    }
}

.white-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.07em;
    font-weight: 700;
    background-color: $white-text;
    color: #000000;
    border: none;
    border-radius: .4rem;
    padding: .75rem 1.5rem;
    transition: .3s;

    // &:hover {
    //     background-color: $brand-primary-hover;
    // }
}

.white-outline-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.07em;
    font-weight: 700;
    background-color: transparent;
    color: $white-text;
    border: 1px solid $white-text;
    border-radius: .4rem;
    padding: .7rem 1.5rem;
    transition: .3s;

    &:hover {
        background-color: $white-text;
        color: $primary-text;
    }
}

.brand-outline-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.07em;
    font-weight: 700;
    background-color: transparent;
    color: $brand-primary;
    border: 1px solid $brand-primary;
    border-radius: .4rem;
    padding: .7rem 1.5rem;
    transition: .3s;
}

.language-btn {
    background-color: $brand-white;
    border-radius: 0 .5rem .5rem 0;
    border: none;
    box-shadow: none;

    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-bg-btn {
    border-color: transparent;
    border: none;
    box-shadow: none;
}

.language-container {
    top: 15vh;
    left: -145px;
    transition: .3s;
    z-index: 9999;

    &.active {
        left: 0;
    }
}

.languages-list {
    background-color: $brand-white;
    border-radius: 0 0 .5rem 0;
    overflow: hidden;
    
    li {
        padding: 1rem;
        background-color: $brand-white;
        transition: .2s;
        cursor: pointer;

        // &:hover {
        //     background-color: $gray-2;
        // }
    }
}

// Form
input, textarea {
    background-color: $input-bg;
    border: 1px solid $gray-2;
    padding: 1rem;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: $primary-text;
    border-radius: 5px;

    &::placeholder {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.03em;
        color: $primary-text;
    }
}

textarea {
    min-height: 151px;
    line-height: 1.5rem;

    &::placeholder {
        line-height: 1.5rem;
    }
}

.input-container {
    position: relative;
    padding: 0;
    width: 100%;

    .input-icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
    }

    input {
        padding-right: 3.5rem;
    }
}

// Header
header {
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    background-color: transparent;
    padding-top: 1.35rem;
    padding-bottom: 1.35rem;
    transition: .3s ease-in-out;

    &.navbarScrolled {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: $brand-dark;
    }
}

.mobile-btn {
    border-radius: .5rem;
    padding: .25rem .75rem;
    border: 1px solid #aaa6a6;
    outline: transparent;
    
    &:active {
        outline: transparent;
    }
}

.menu-mobile-backdrop {
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    height: 0;
    width: 0;

    background-color: transparent;
    transition: .3s background-color linear;

    &.active {
        height: 100vh;
        width: 100vw;
        min-height: 100vh;
        min-width: 100vw;
        max-height: 100vh;
        max-width: 100vw;

        background-color: rgba(0, 0, 0, 0.50);
    }

}

.menu-mobile {
    top: 0;
    right: -303px;
    z-index: 1000;

    height: 100vh;

    background-color: $primary-oposite-1;
    transition: .3s ease;

    &.active {
        right: 0;
    }
}

@media screen and (max-width: 992px) {
    .header-logo {
        width: 130px;
    }
}

.main-hero {
    background-image: url("/assets/img/main-hero-compressed.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-hero-1 {
    background-image: url("/assets/img/sub-hero-1-compressed.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .content {
        padding-top: 8rem;
    }
}

.sub-hero-2 {
    background-image: url("/assets/img/sub-hero-2-compressed.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-hero-3 {
    background-image: url("/assets/img/carousel-section-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blockchain-technology-bg {
    background-image: url("/assets/img/blockchain-technology.jpg");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;

    .first-part-text {
        max-width: 705px;
    }
}

@media screen and (max-width: 1200px) {
    .blockchain-technology-bg {
        background-image: none;
        background-color: #FFFFFF;
        border-radius: 20px 20px 0 0;

        .first-part-text {
            max-width: 100%;
        }
    }
}

.avaliation-system-container {
    background-image: url("/assets/img/avaliation-system-compressed.jpg");
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
    .avaliation-system-container {
        background-image: none;
        background-color: $brand-primary;
    }
}

.carousel-section-bg {
    background-image: url("/assets/img/carousel-section-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-card-carousel {
    background-color: $brand-white;
    border-radius: 10px;
    width: 90%;
}

// Table
.table-container {
    border: 1px solid $brand-400;
    border-radius: 8px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.table-column {
    padding: 0;
    margin: 0;

    min-width: 318px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 1px solid #E1E6DD;

    div {
        min-height: 93px;
        max-height: 93px;
        height: 93px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 1.5rem;

        &:nth-child(odd) {
            background-color: #EDEDED;
        }
    }
}

.first-column {
    border-right: 1px solid $gray-4;
}

@media screen and (max-width: 1400px) {
    .table-container {
        overflow-x: scroll;
    }
}

// Quem somos
.we-are-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 1200px;

    .second {
        transform: translateY(40px);
    }
}

@media screen and (max-width: 992px) {
    .we-are-container {
        .second {
            transform: translateY(0);
        }
    } 
}

.glossary-card {
    background-color: $brand-white;
    border: 1px solid #E1E6DD;

    border-radius: 8px;
}

.vertical-separator {
    display: block;
    height: 425px;
    width: 1px;

    background-color: $gray-2;
}

.auth-img {
    object-fit: cover;

    height: 100%;
    min-height: 100%;
    max-height: 100%;

    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.max-width-360 {
    max-width: 420px;
}

.metric-step {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 3px solid $support-lines;
    border-radius: .5rem;
    
    transition: .3s;
    
    &.active {
        border: 5px solid $brand-dark;
    }
}

